.navbar .navbar-brand img { height: 40px; position: absolute; top: 6px; left: 50%; transform: translateX(-50%); }
xx.navbar .navbar-brand span { font-weight: bold; color: #030303; font-family: Century Gothic; margin-left: 4px; }
.navbar .navbar-brand span { font-weight: normal; color: #AAA; font-family: Verdana; margin-left: 4px; }

x.navbar .navbar-brand img { height: 35px; }


.GridView1 td.pracname { padding: 4px; }


xdiv.pagetitle table td.title span { font-family: sans-serif; }

xdiv.cntPlanPracyZmiany div.search div { right: 0; margin-left: 0px;}

xdiv.cntPlanPracyZmiany div.filter { text-align: left; }
xdiv.cntPlanPracyZmiany div.filter select.ddlKier { float: none; display: inline-block;}

.navbar .navbar-brand span { line-height: 50px; }




/* style do ubezpieczen  */
table.fullwidth-left { }
table.fullwidth-left td.menu { width: 100px; }
table.fullwidth-left td.content { width: 100% !important; }


div.pgUbezpieczenia { xborder: solid 1px red; xdisplay: inline-block; width: auto; }
div.pgUbezpieczenia div.border { max-width: initial !important; height: 100%; }
div.pgUbezpieczenia div.paLeft,
div.pgUbezpieczenia div.paRight { xborder: solid 1px red; float: left; }
div.pgUbezpieczenia div.paLeft  { width: 420px; padding-top: 120px; }
div.pgUbezpieczenia div.paRight { xwidth: 1200px; }

div.pgUbezpieczenia div.paLeft a.item {}



div.pgUbezpieczeniaKafle { width: 1140px; }
div.pgUbezpieczeniaKafle h3 { 
    display: block; 
    text-align: center;
    font-size: 18px;
    padding: 0px;
    margin: 0px 0px 24px 0px;
}
div.pgUbezpieczeniaKafle a.item {
    display: inline-block;
    width: 350px;
    height: 300px;
    background-color: #EEE;
    margin: 10px; 
    border: solid 3px Transparent;
    text-align: center;
    vertical-align: middle;
    font-size: 18px; 
}
div.pgUbezpieczeniaKafle a.item:hover {
    background-color: white;
    border: solid 3px #EEE;
}

div.pgUbezpieczeniaKafle div.ubInfo a.item { }
div.pgUbezpieczeniaKafle div.ubGo a.item { }
div.pgUbezpieczeniaKafle div.ubMam a.item { }

div.pgArticles { width: 944px !important; }



div.pgUbezpieczenia a.item div.description {
    width: 290px; 
	xbackground: #34346A;
	position: relative;
	padding: 10px;
	float: left;
	height: 170px;
	color: #eee;
	cursor: pointer;
    margin-bottom:20px;
       /* Firefox */
    -moz-transition: all 0.3s ease-in;
    /* WebKit */
    -webkit-transition: all 0.3s ease-in;
    /* Opera */
    -o-transition: all 0.3s ease-in;
    /* Standard */
    transition: all 0.3s ease-in;
}

div.pgUbezpieczenia a.item div.description:hover {
        width: 300px;
       /* Firefox */
    -moz-transition: all 0.3s ease-in;
    /* WebKit */
    -webkit-transition: all 0.3s ease-in;
    /* Opera */
    -o-transition: all 0.3s ease-in;
    /* Standard */
    transition: all 0.3s ease-in;

    }



div.pgUbezpieczenia a.item div.description-inner {
    width: 250px;
    padding:30px;
}

div.pgUbezpieczenia a.item div.description-inner > span {
	color: #fff;
    font-size: 26px;
}

div.pgUbezpieczenia a.item div.desc-container {
	margin-bottom:20px;
}

/*Right pointing*/
div.pgUbezpieczenia a.item div.triangle-right {
    width: 0;
    height: 0;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    overflow: hidden;
	padding-left: 85px;
    padding-top: 85px;
	padding-bottom: 85px;
    margin-bottom:20px;
}
div.pgUbezpieczenia a.item div.triangle-right:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    margin-top:-500px;
    margin-left: -500px;
    
    border-top: 500px solid transparent;
    border-bottom: 500px solid transparent;
    border-left: 500px solid #34346A;
}





div.pgUbezpieczenia div.paLeft a.item1 div.description { background: #676DA7; }
div.pgUbezpieczenia div.paLeft a.item1 div.triangle-right:after { border-left-color: #676DA7;}
div.pgUbezpieczenia div.paLeft a.item2 div.description { background: #EBA766; }
div.pgUbezpieczenia div.paLeft a.item2 div.triangle-right:after { border-left-color: #EBA766;} 
div.pgUbezpieczenia div.paLeft a.item3 div.description { background: #87BC67; }
div.pgUbezpieczenia div.paLeft a.item3 div.triangle-right:after { border-left-color: #87BC67;} 








.panel-ein {
	background-color:#ffc100;
	float:left;
	color:#fff;
	width:100%;
	text-align:center;
}

.panel-zwei {
	background-color:#7dd420;
	float:left;
	color:#fff;
	width:100%;
	text-align:center;
}

.panel-drei {
	background-color:#2196f3;
	float:left;
	color:#fff;
	width:100%;
	text-align:center;
}

.panel-body {
	background-color:#fff;
	color:#0f0f0f;
	width:100%;
	xtext-align:center;
}

.panel-heading
{
	text-align:center;
	font-size:18px;
	line-height: 18px;
}


.mainform.portal div#program span { white-space: nowrap; }
div.topMenu > a { height: 0px; }

/* juan */

div.pgUbezpieczeniaKafle a.item{
    background-color: #fff;
    vertical-align: middle;
    xborder: solid 1px #337AB7;
    border-radius: 3px;
    background-color: #eee;    
    text-decoration: none;


       /* Firefox */
    -moz-transition: all 0.3s ease-in;
    /* WebKit */
    -webkit-transition: all 0.3s ease-in;
    /* Opera */
    -o-transition: all 0.3s ease-in;
    /* Standard */
    transition: all 0.3s ease-in;
}

div.pgUbezpieczeniaKafle a.item:hover{
       /* Firefox */
    -moz-transition: all 0.3s ease-in;
    /* WebKit */
    -webkit-transition: all 0.3s ease-in;
    /* Opera */
    -o-transition: all 0.3s ease-in;
    /* Standard */
    transition: all 0.3s ease-in;
}

div.pgUbezpieczeniaKafle a.item .wrapper {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/*div.pgUbezpieczeniaKafle a.item span{
    vertical-align: middle;
    margin-top: 100px;
}*/

div.pgUbezpieczeniaKafle a.item i{
    font-size: 64px;
    display: block;
    margin-top: 16px;
}



.cntHarmonogram
{
    xwidth: 1600px !important;
}

.right-summary
{
    xdisplay: none;
}


/*----- keeper -----*/
table.rep_header td.col3 img {
    





    xwidth: 100px !important; 





}