*{

}

#mainformcontent > #header {
    border-bottom: solid 2px #ec0928;
}



div.cntAplikacjeMenu .text{
    xbackground-color: #ec0928 !important;
}

ul.sql-menu > li a{
    xcolor: #ec0928 !important;
    xcolor: #333 !important;
    xborder-color: #ec0928 !important;
}

div#portal{
    xdisplay: none;
}

.mainform.portal .topLine{
    xbackground-color: #e7e8e7;
    xbackground-color: #ee524a !important;
    xbackground: url(http://www.iqor.com/assets/img/xhome-why-background.jpg.pagespeed.ic.Wins_WChxV.webp);
}

.topMenu{
    xdisplay: none;
}

