/*----- Ogloszenia -----*/
div.cntOgloszenia,
div.cntOgloszenieEdit { font-size: 14px; }
div.cntOgloszenia table.ogloszenie { max-height: 150px; border-bottom: solid 1px #DDD; width: 100%; border-collapse: separate; border-spacing: 0px; }
div.cntOgloszenia table.ogloszenie table.tresc { width: 100%; }

xxdiv.cntOgloszenia table.ogloszenie td { border: solid 1px red; }
xxdiv.cntOgloszenia table.ogloszenie table.tresc td { border: solid 1px red; }

div.cntOgloszenia div.ogloszenie:first-child table.ogloszenie { border-top: solid 1px #DDD; }
div.cntOgloszenia table.ogloszenie tr td { padding: 0px; height: auto; line-height: normal; vertical-align: top; }
div.cntOgloszenia table.ogloszenie tr td.zdjecie { width: 150px; padding: 16px 16px 16px 0px; }
div.cntOgloszenia table.ogloszenie tr.info td { padding-top: 16px; }
div.cntOgloszenia table.ogloszenie tr.info td.info span.value { margin-right: 16px; }
div.cntOgloszenia table.ogloszenie tr.info td.status { text-align: right; }
div.cntOgloszenia table.ogloszenie tr.info-top td { padding: 8px; background-color: #F5F5F5; }

div.cntOgloszenia div.status3 table.ogloszenie { xbackground-color: #EEEEEE; }

div.cntOgloszenia table.ogloszenie tr.tresc td { padding-top: 16px; }

div.cntOgloszenia table.ogloszenie tr.wystawil td { height: 10px; padding-top: 16px; padding-bottom: 16px; vertical-align: bottom; }
div.cntOgloszenia table.ogloszenie tr.wystawil td.wystawil i { color: #337AB7; margin-left: 8px; }
div.cntOgloszenia table.ogloszenie tr.wystawil td.termin { text-align: right; }

div.cntOgloszenia table.ogloszenie tr.control td { height: 1px; vertical-align: bottom; }
div.cntOgloszenia table.ogloszenie tr.control td div.buttons { padding-bottom: 16px; text-align: right; }
div.cntOgloszenia table.ogloszenie tr.control td div.buttons input { margin-left: 4px; }
div.cntOgloszenia table.ogloszenie tr.control td div.buttons .left { float: left; margin-right: 8px; margin-left: 0px; }

div.cntOgloszenia table.ogloszenie span.label1 { color: Gray; }
div.cntOgloszenia table.ogloszenie span.value { font-weight: bold; color: #555; }

div.cntOgloszenia div.paFilter { margin-bottom: 8px; display: block; text-align: right; height: 40px; width: 100%; }
div.cntOgloszenia div.paFilter .left { display: inline-block; float: left; white-space: normal; text-align: left; width: 780px; }
div.cntOgloszenia div.paFilter .form-control { display: inline-block; margin-right: 16px; margin-bottom: 16px; width: 216px; }
div.cntOgloszenia div.paFilter .check { margin-right: 16px; }
div.cntOgloszenia div.paFilter .check input { vertical-align: middle; margin: 0px; }
div.cntOgloszenia div.paFilter .check label { vertical-align: middle; font-weight: normal; margin: 0px 0px 0px 8px; }
div.cntOgloszenia div.paFilter a.btn-delete { color: Red; display: inline-block; margin-left: -10px; vertical-align: middle; }
div.cntOgloszenia div.paFilter a.btn-delete i { top: 0px;}
div.cntOgloszenia div.paFilter input[type=submit].btn {float:right; }

div.cntOgloszenieEdit div.modalOgloszenie div.label1 { width: auto; } 
div.cntOgloszenieEdit div.modalOgloszenie div.label1 label { line-height: 34px; white-space: nowrap; width: auto; } 
div.cntOgloszenieEdit div.modalOgloszenie a.btn-delete { color: Red; display: inline-block; } 
div.cntOgloszenieEdit div.modalOgloszenie div.image { margin-right: 8px; }
div.cntOgloszenieEdit div.modalOgloszenie div.upload { display: inline-block; border: solid 1px #DDD; border-radius: 4px; padding: 8px; margin: 0px;}
div.cntOgloszenieEdit div.modalOgloszenie div.upload input { width: auto !important; }
div.cntOgloszenieEdit div.modalOgloszenie span.fileupload { }
div.cntOgloszenieEdit div.modalOgloszenie span.fileupload img { top: 0px; }
div.cntOgloszenieEdit div.modalOgloszenie div.paFileUpload a.btn-delete { color: Red; display: inline-block; vertical-align: middle; }
div.cntOgloszenieEdit div.modalOgloszenie div.paFileUpload a.btn-delete i { top: 0px;}

div.cntOgloszenieEdit div.modalOgloszenie textarea { width: 760px; }

div.cntOgloszenia td.zdjecie div,
div.cntOgloszenieEdit div.modalOgloszenie div.image div { 
    width: 156px; height: 156px; border: solid 1px #DDD; padding: 2px; border-radius: 4px; position: relative; 
    box-shadow: 2px 2px 7px #DDDDDD !important;
    xbackground-color: #F0F0F0;
    xbackground-color: #333;
    transition: all .7s ease-in-out; 
}
div.cntOgloszenia td.zdjecie div:hover,
div.cntOgloszenieEdit div.modalOgloszenie div.image div:hover { transform: scale(1.05); }
div.cntOgloszenia td.zdjecie div img,
div.cntOgloszenieEdit div.modalOgloszenie div.image div img { max-width: 150px; max-height: 150px; width: auto; height: auto; position:absolute; top:0; bottom:0; left: 0; right: 0; margin:auto; }

div.cntOgloszenia td.zdjecie div img { transition: 0.3s; cursor: pointer; }
div.cntOgloszenia td.zdjecie div img:hover { opacity: 0.8; }

div.cntOgloszenieEdit div.modalOgloszenie div.modal-footer { display: none; }
div.cntOgloszenieEdit div.modalOgloszenie div.buttons { text-align: right; display: block; border-top: solid 1px #DDD; padding-top: 15px; } 
div.cntOgloszenieEdit div.modalOgloszenie div.buttons .left { float: left; } 
div.cntOgloszenieEdit div.modalOgloszenie div.step { width: 60px; margin-right: 8px;}
div.cntOgloszenieEdit div.modalOgloszenie div.step div.number { width: 50px; background-color: #00BF00; }
div.cntOgloszenieEdit div.modalOgloszenie div.step div.number span { display: inline-block; width: 100%; text-align: center; margin-top: 7px; font-weight: bold; color: White; }
div.cntOgloszenieEdit div.modalOgloszenie div.step div.grip { display: block; width: 0; height: 0; border-left: 10px solid transparent; border-right: 10px solid transparent; border-top: 10px solid #00BF00; position: absolute; left: 30px; }
div.cntOgloszenieEdit div.modalOgloszenie div.step1 div.number { height: 35px; }
div.cntOgloszenieEdit div.modalOgloszenie div.step2 div.number { height: 138px; }
div.cntOgloszenieEdit div.modalOgloszenie div.step3 div.number { height: 180px; position: absolute; }
div.cntOgloszenieEdit div.modalOgloszenie div.step3 div.grip   { top: 180px; position: absolute; }
div.cntOgloszenieEdit div.modalOgloszenie div.step4 div.number { height: 35px; }
div.cntOgloszenieEdit div.modalOgloszenie div.step5 div.number { height: 50px; }
div.cntOgloszenieEdit div.modalOgloszenie div.stepinfo div.number { height: 80px; }
div.cntOgloszenieEdit div.modalOgloszenie input.datepicker { font-size: 14px; text-align: center; }

div.cntOgloszenieEdit div.modalOgloszenie div.paRegAcc { font-weight: bold; }

div.ui-datepicker.cntOgloszenia { z-index: 1060 !important; }
div.ui-datepicker.cntOgloszenia { width: auto; }
div.ui-datepicker.cntOgloszenia table.ui-datepicker-calendar tr td { padding: 0px; }
div.ui-datepicker.cntOgloszenia table.ui-datepicker-calendar tr td a { padding: 4px 8px; margin: 1px; line-height: normal; }
div.ui-datepicker.cntOgloszenia table.ui-datepicker-calendar tr td.ui-datepicker-week-end:last-child a { xcolor: Red; }
div.ui-datepicker.cntOgloszenia table.ui-datepicker-calendar tr td.ui-datepicker-week-col { font-size: 9px; color: Gray; vertical-align: bottom; text-align: right; padding: 0px 8px 5px 0px; }
div.ui-datepicker.cntOgloszenia table.ui-datepicker-calendar tr th.ui-datepicker-week-col { color: Transparent; }

div.cntOgloszenia div.lvOgloszenia { }
div.cntOgloszenia div.lvOgloszenia span.edt { display: block; clear: both; }
div.cntOgloszenia div.lvOgloszenia div.ogloszenie { }
div.cntOgloszenia div.lvOgloszenia div.status1 { } 
div.cntOgloszenia div.lvOgloszenia div.status2 { } 
div.cntOgloszenia div.lvOgloszenia div.status3 { } 
div.cntOgloszenia div.lvOgloszenia div.status4 { } 

div.cntOgloszenia div.lvOgloszenia div.status1 td.status span.value { color: #5CB85C; } 

div.cntOgloszenia div.lvOgloszenia div.status3 img { opacity: 0.5; } 
div.cntOgloszenia div.lvOgloszenia div.status3 td,
div.cntOgloszenia div.lvOgloszenia div.status3 td.wystawil a,
div.cntOgloszenia div.lvOgloszenia div.status3 td.wystawil i,
div.cntOgloszenia div.lvOgloszenia div.status3 span.label1,
div.cntOgloszenia div.lvOgloszenia div.status3 span.value { color: silver; } 
div.cntOgloszenia div.lvOgloszenia div.status3 td.status span.value { color: Red; } 

div.cntOgloszenia div.lvOgloszenia div.status4 img { opacity: 0.5; } 
div.cntOgloszenia div.lvOgloszenia div.status4 td,
div.cntOgloszenia div.lvOgloszenia div.status4 td.wystawil a,
div.cntOgloszenia div.lvOgloszenia div.status4 td.wystawil i,
div.cntOgloszenia div.lvOgloszenia div.status4 span.label1,
div.cntOgloszenia div.lvOgloszenia div.status4 span.value { color: silver; } 
div.cntOgloszenia div.lvOgloszenia div.status4 td.status span.value { color: #555; }
 
div.cntOgloszenia div.lvOgloszenia td.status span.label1 { color: Gray; } 
div.cntOgloszenia div.lvOgloszenia div.ogloszenie td.zdjecie div:hover img { opacity: 1; }
    
div.cntOgloszenia div.lvOgloszenia div.arch { }
 
div.cntOgloszenia div.lvOgloszenia div.bs-pager { margin: 16px 0px 0px 0px; }
div.cntOgloszenia div.lvOgloszenia div.bs-pager span:first-child { display: inline-block; vertical-align: middle; }
div.cntOgloszenia div.lvOgloszenia div.bs-pager div.count { display: inline-block; text-align: right; xborder: solid 1px red; height: 34px; line-height: normal; vertical-align: middle; white-space: nowrap; float: right; }
div.cntOgloszenia div.lvOgloszenia div.bs-pager div.count span { color: #555 !important; }
div.cntOgloszenia div.lvOgloszenia div.bs-pager div.count span.show { margin-left: 24px; display: inline-block !important; }
div.cntOgloszenia div.lvOgloszenia div.bs-pager div.count span.count { margin-left: 24px; }
div.cntOgloszenia div.lvOgloszenia div.bs-pager div.count span.count span { border: none; font-weight: bold; }
div.cntOgloszenia div.lvOgloszenia div.bs-pager div.count select { display: inline-block; width: auto; text-transform: lowercase; color: Black !important; }

/*----- image zoom -----*/
div#zoomImage { }
div#zoomImage img { 
    position: absolute; top:0; bottom:0; left: 0; right: 0; margin: auto; display: block; width: auto; height: auto; max-width: 80%; max-height: 80%; 
    background-color: rgba(0,0,0,0.6); padding: 8px; border: solid 1px Silver; 
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}
div#zoomImage #zoomClose {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 20px;
    font-weight: bold;
    transition: 0.3s;
}
div#zoomImage #zoomClose:hover,
div#zoomImage #zoomClose:focus { color: #bbb; text-decoration: none; cursor: pointer; }

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    div#zoomImage img {
        max-width: 100%;
        max-height: 100%;
    }
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/*----- OgloszeniaBoard -----*/
div.cntOgloszeniaBoard {}
div.cntOgloszeniaBoard .panel-title i.glyphicon { color: #0080D5; color: #0281B0; color: #337ABA; }
div.cntOgloszeniaBoard .panel-title:hover i.glyphicon { animation-name: funnyRotate; animation-duration: 1s; }
.funnyRotate { animation-name: funnyRotate; animation-duration: 1s; }
@keyframes funnyRotate { 0%   {transform: rotate(0deg);} 33%  {transform: rotate(30deg);} 66%  {transform: rotate(-30deg);} 100% {transform: rotate(0deg);} }

div.cntOgloszeniaBoard div.doakceptacji .panel-title span.count { 
    display: inline-block;
    background-color: Red;
    min-width: 18px;
    padding: 0 4px;
    height: 18px;
    border-radius: 9px;
    animation: blinker 1s linear infinite; 
    text-align: center;
    vertical-align: top;
    line-height: 18px;
    font-size: 11px;
    color: White; 
}
@keyframes blinker { 50% { opacity: 0.0; } }

div.cntOgloszeniaBoard div.regulamin {}
div.cntOgloszeniaBoard div.regulamin div.modal-dialog { width: 1000px; }

/*----- -----*/
div.cntOgloszeniaKategorie {}
div.cntOgloszeniaKategorie div.buttons { margin-bottom: 8px; }

div.cntOgloszeniaParametry {}
div.cntOgloszeniaParametry h1 { font-size: 16px; font-weight: normal; }
div.cntOgloszeniaParametry div.dbField span.label { 
    display: inline-block;
    width: 400px; 
    font-size: 14px;
    font-weight: normal;
    color: gray;
    text-align: left; 
}
div.cntOgloszeniaParametry div.dbField span.value { 
    display: inline-block;
    width: 30px; 
    font-size: 14px;
    font-weight: normal;
    color: black;
    text-align: right;
}
div.cntOgloszeniaParametry div.dbField input.value { 
    width: 50px; 
    font-size: 14px;
    font-weight: normal;
    color: black;
    text-align: right;
}
div.cntOgloszeniaParametry div.buttons { margin-top: 8px; }
div.cntOgloszeniaParametry div.regulamin { font-size: 14px; }
div.cntOgloszeniaParametry div.regulamin input.fileupload { margin-top: 8px; padding: 8px; }

/*----- paginacja -----*/
.bs-pager span a, .bs-pager span span {
    position: relative;
    float: left;
    padding: 6px 12px !important;
    margin-left: -1px;
    line-height: 1.42857;
    color: #337AB7;
    text-decoration: none;
    background-color: #FFF;
    border: 1px solid #DDD;
    background-image: none;
    min-width: auto;
    height: auto;
    vertical-align: middle;
    border-radius: 0px;
    text-transform: none;
    font-size: 13px;
    font-weight: normal;
}

.bs-pager span span {
    z-index: 3;
    color: #FFF !important;
    cursor: default;
    background-color: #337AB7;
    border-color: #337AB7;
}

.bs-pager span a:hover {
    background: none;
    z-index: 2;
    color: #337AB7;
    background-color: #EEE;
    border-color: #DDD;
    background-image: none !important;
}

.bs-pager span a:first-child, .bs-pager span span:first-child {
    margin-left: 0px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.bs-pager span a:last-child, .bs-pager span span:last-child {
    margin-right: 0px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

tr.bs-pager td, td.bs-pager span {
    white-space: normal;
}

table.ListView1 tr.bs-pager td.right span {
    color: #333 !important;
    text-transform: none;
    font-size: 14px;
    margin-right: 0px;
    font-weight: normal;
}

table.ListView1 tr.bs-pager td.right span span {
    font-weight: bold;
}

.bs-pager div.count span { line-height: 14px; font-size: 14px; background: none !important; vertical-align: middle; float: none;}
.bs-pager div.count span.value { font-weight: bold; color: #555; }

.bs-pager a[disabled] { color: #C0C0C0 !important; }

/*----- Page Ogłoszenia -----*/
div.pgOgloszenia { margin-top: 12px; }



