@model List<HRRcp.Areas.MVC.Models.SqlMenu>
@using HRRcp.App_Code;


<div id="appBar">
    @foreach (var item in Model)
    {
        string cmd = item.Command;
        string url = string.Empty;
        Tools.IsUrl(cmd, out url);

        <a href="@url" id="lnkApp" class="xapp-box-inner app-link row">
            <span class="col-left" style="background-color:@Html.Raw(item.Par2)">
                <i class="@Html.Raw(item.Image)"></i>
            </span>
            <span class="col-right" style="background-color:@Html.Raw(item.Par2)">
                <span class="title">@Html.Raw(item.MenuText)</span>
            </span>
        </a>
    }
   
</div>
