div { border: none; }

img.img_left { float: left; margin: 0px 8px 8px 0px; }
img.img_center { margin-left:auto; margin-right: auto; margin-bottom: 8px; display: block; }
img.img_right { float: right; margin: 0px 0px 8px 8px; }
img.img20 { width: 20%; }
img.img30 { width: 30%; }
img.img40 { width: 40%; }
img.img50 { width: 50%; }
img.img60 { width: 60%; }
img.img70 { width: 70%; }
img.img80 { width: 80%; }
img.img90 { width: 90%; }
img.img100 { width: 100%; }