/* fonts */

@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto-Regular.ttf);
}

@font-face{
    font-family: Roboto;
    src: url(fonts/Roboto-Bold.ttf);
    font-weight: bold;
}

/* design */

div#mainformcontent div#header{
    background: none;
}

div#mainformcontent div#header div.topMenuContainer{
    background: none;
}

div#mainformcontent div#header div.topLine{
    background: none;
}

div#mainformcontent div#header{
    border-bottom: 2px solid #F7941E;
    height: 145px !important;
}

div#mainformcontent div#header div.topLine{
    background-color: #34346A;
    border-bottom: 1px solid #FFF;
}

div#mainformcontent > div#header div.topMenuContainer{
    position: relative;
}
#mainformcontent div#content{
    background: transparent none repeat scroll 0% 0%;
    min-height: 700px;
}

div#header div.logo {
    position: static;
    margin: 14px auto auto 0px;
    text-align: center;
}

div#header div.logo img {
    height: 56px;
    width: auto;
}

.user-wrapper {
    max-width: 960px !important;
    text-align: right !important;
    margin: 0px auto;
    position: relative;
}

#user{
    position: relative;
}

#mainformcontent div#footer{
    background-color: #24244E;
    color: #fff;
    font-family: Roboto;
}

#mainformcontent div#footer .regulamin{
    color: #F7941E !important;
}

div.border{
    box-shadow: none !important;
}

#header #user .text{
    color: #F7941E !important;
    font-family: Roboto;
}

#header #user a{
    color: #FFF !important;
    font-family: Roboto;
    font-variant: normal !important;
}

#mainformcontent div#helpButton a{
    color: #FFF;
    font-family: Roboto;
}

#program{
    font-variant: normal !important;
    font-family: Roboto;
    display: inline-block;
    margin: 0px auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 !important;
}

#mainformcontent div.center{
    width: 1100px;
}

/* menu ? */

div.topMenu{
    float: none !important;
    position: absolute;
    right: 0px;
}

.mmItem div.mmCaption{
    border: none !important;    
    height: 111px;
}h

.mmItem{
    height: 110px;
}

table.mmItem{
    background-color: #fff;
    transition: background 0.3s ease 0s, color 0.3s ease 0s;
}

table.mmItem:hover{
    background-color: #34346A;
    transition: background 0.3s ease 0s, color 0.3s ease 0s;
}

table.mmItem:hover div.mmCaption div span{
    color: #fff !important;
}

table.mmItem:hover div.mmCaption div span{
    text-shadow: none !important;
    color: #fff;
}

div.topMenu div.mmStrip span.mmItem div.mmCaption div span, div.topMenu table.mmStrip table.mmItem div.mmCaption div span{
    font-family: Roboto;
    color: #34346A;
    font-variant: normal;
    xborder: solid 1px #34346A;
    text-align: left;
    text-shadow: none;
    font-weight: normal;
}

.mmItem div.mmCaption div.mmInfo div.mmOpis span{
    color: #F7941E !important;
}

.mmItem div#mmCaption4{
    border: none !important;
}

/*----- VIEW2 -----*/
div.view2 { background-color: #FAFAFA; }
div.view2 div.mcontent { margin: 0px; margin-left: 0px; margin-right: 0px; padding: 0px; width: 100%; }

/*----- page -----*/
div.view2 div.pageContent {
    background-color: White;
    border: none;
    border-top: solid 1px #EEEEEE; 
    border-bottom: solid 1px #EEEEEE; 
    min-height: 450px; 
    padding: 0px;
    margin: 0px; 
}

div.view2 div.pageContent div.padding { padding: 16px; }

div.view2 div.border2 { 
    border: none; 
    border-top: solid 1px #EEEEEE; 
    border-bottom: solid 1px #EEEEEE; 

    -moz-border-radius: 0px;                        
    -webkit-border-radius: 0px;                         
    -khtml-border-radius: 0px;                      
    border-radius: 0px;                             
    xbehavior: url(css/border-radius.htc);   

    x-webkit-box-shadow: 0 0 15px Silver;    
    -webkit-box-shadow: none;    
    -moz-box-shadow: none;
	box-shadow: none;    
    
    width: 100%;
    min-height: 450px; 
    margin: 0px; 
    padding: 16px;
    
    background-color: White;
}
