/*----- MAINMENU -----*/
/*
div.topMenuContainer - center 960
    div.topMenu - align right menu box
        a.skiplink
        table.mmStrip
            td
                table.mmItem
                    td
                        a.mmItem
                            div.mmCaption
                                div.mmText
                                    span - title
                                    div - opis
            td 3px
            td
            td 3px
            ...    

*/

div#mainmenu
{
	width: 100%; 
	height: 110px;
    xbackground-color: #25548C;
    xbackground-color: #2C2C2C;
    xbackground-color: #264677;
    
    xbackground-color: #25487E;
    abackground-color: #14427D;
    
    xbackground-color: #16437C;
    xbackground-color: #1D467E;
    
    background-color: #264683;
    
    xborder-bottom: solid 1px #25487E;
    xborder-bottom: solid 1px #E0E0E0;
}

div#mainmenu div.center960
{
    height: 110px;
    xbackground: url('~/../../../images/toolbar2.jpg') no-repeat -5px -30px;
}

div#header div#logo 
{ 
    float: left; 
    position: relative; 
    background-color: White;
    padding: 5px; 
    border: solid 1px Gray;

    -moz-border-radius: 5px;                        
    -webkit-border-radius: 5px;                         
    -khtml-border-radius: 5px;                      
    border-radius: 5px;                             
    xbehavior: url(css/border-radius.htc);   
    margin-left: 16px; 
    margin-top : 16px; 
    
	opacity: 0.5;
	filter:alpha(opacity=50); /* For IE8 and earlier */
	
	width: 155px; 
	xheight: 36px; 	
	height: 45px;
	text-align: center;
}

div#header div.logo img
{ 
	xwidth: 155px; 
	xheight: 36px; 	
	awidth: 130px; 
	aheight: 45px; 	
	width: 90px; 
	height: 90px; 	  
}

div#mainform div#lang { position: absolute; xborder: solid 1px red;}
div#mainform div#lang div { position: relative; top: 80px; left: 75px; xleft: 15px; }
div#mainform div#lang div input { xwidth: 30px; margin-right: 8px; }

div#mainform div.lang { position: absolute; xborder: solid 1px red;}
div#mainform div.lang div { position: relative; top: 80px; left: 75px; xleft: 15px; }
div#mainform div.lang div input { xwidth: 30px; margin-right: 8px; }


div#mainmenu div#mmContainer { float: right;}
.mmStrip { 
    xheight: 110px; 
    height: 105px; 
}

xx.mmStrip td { width: 0px !important; }  /* wycięcie odstępu 3px między tabami, działa też na IE6 */
table.mmStrip td { width: 0px !important; }  /* wycięcie odstępu 3px między tabami, działa też na IE6 */

xxdiv.topMenu div.mmStrip, div.topMenu table.mmStrip {}
table.mmStrip { 
    xborder: solid 1px red; 
    xempty-cells: hide !important;
    xborder-collapse: separate;
    
    margin-top: 0px !important;
    top: 0px !important;    
}
xxxtable.mmStrip td { padding: 0px; background-color: Red; }  /* wycięcie odstępu 3px między tabami, działa też na IE6 */

.mmItem 
{
    xwidth: 150px;
    width: 149px;
    xheight: 100%;
    height: 105px;
        
    display: block;   
    float:left;
    white-space: normal;
}

.mmItem div.mmCaption
{
    xwidth: 150px;   

    position: relative;
    top: -1px;              /* skip link */   
    xheight: 110px;
    height: 94px;
    cursor: pointer;
    margin: 8px 0px 8px 0px;
}

div.topMenu div.mmStrip a.mmItem, div.topMenu table.mmStrip a.mmItem { height: 105px; }

.mmItem div#mmCaption5 { border-right: solid 1px #6FA9EA; }
.mmItem div.mmCaption { border-left: solid 1px #6FA9EA; }
.mmItem div.mmCaption div.mmInfo { height: 40px; overflow: hidden; }
.mmItem div.mmCaption div.mmInfo div.mmOpis { position: relative; width: 150px; height: 40px; overflow: auto; }
.mmItem div.mmCaption div.mmInfo div.mmOpis div { position: absolute; bottom: 0px; padding: 0px 4px 4px 4px; }
.mmItem div.mmCaption div.mmTitle { xheight: 55px; height: 50px; position: relative; }
.mmItem div.mmCaption div.mmTitle span
{
    xdisplay: inline-block;
    display: block; 
    position: absolute; 
    
    margin: 8px 8px 8px 8px;
    xwidth: 100%;
    xwidth: 132px;           /* 150-16-2 dla IE comp mode */
    width: 133px;           /* 150-16-2 dla IE comp mode */

    font-family: Verdana, Arial, Helvetica, sans-serif;
    xfont-weight: normal;
    font-weight: bold;
    font-variant: small-caps;
    
    font-size: 16px;
    xtext-align: center;
    text-align: right;
    xtext-align: left;
    
    xcolor: #AED2FF;   
    xcolor: #FFC014;
    xcolor: #FBAF4A;
    xcolor: #FED731;
    xcolor: #F29466;
    
    color: Red;
    xtext-shadow: Black 5px 5px 5px;
    text-shadow: #999999 5px 5px 5px;    
    font-variant: normal;
    
    xfont-weight: normal;
    xfont-size: 18px;
}

.mmItem div.mmCaption:hover div.mmTitle span { top: 1px; text-shadow: Gray 5px 4px 3px; }
.mmItem div.mmCaption:hover div.mmTitle span.shadow { top: 2px; }

.mmItem div.mmCaption div.mmTitle span.shadow { display: none; }
xx.mmItem div.mmCaption div.mmTitle span.shadow { color: Black; left: 1px; top: 1px; display: block; }

.ie9 .mmItem div.mmCaption div.mmTitle span { }

/*
.ie8 .mmItem div.mmCaption div.mmTitle ,
.ie9 .mmItem div.mmCaption div.mmTitle { position: relative; }

.ie8 .mmItem div.mmCaption div.mmTitle span,
.ie9 .mmItem div.mmCaption div.mmTitle span { display: block; position: absolute; }

.ie8 .mmItem div.mmCaption div.mmTitle span.shadow,
.ie9 .mmItem div.mmCaption div.mmTitle span.shadow { color: Black; left: 1px; top: 1px; display: block; } 

*/





.mmItem div.mmCaption:hover span.mmCaption
{
    position: relative;
    top: 1px;
    text-shadow: Black 5px 4px 3px;
}

.mmItem div.mmCaption div.mmInfo div.mmOpis span 
{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    font-size: 11px;
    color: White;
    xcolor: #F5F7F0;
    line-height: 16px; 
    text-shadow: 0px 0px 2px Gray;
}

/*----- submenu -----*/
.mmItem div.mmIsSubMenu1 div.mmSubMenu { display: none; }
.mmItem div.mmIsSubMenu_hover div.mmSubMenu { display: block; }

.mmItem div.mmIsSubMenu:hover div.mmInfo,
.mmItem div.mmIsSubMenu_hover div.mmInfo
{
    display: block;     
    z-index: 102;
    xz-index: 102 !important;
    position: relative;    
    left: -4px;     
    
    overflow: visible;   
    width: 230px;
    height: auto;
    background-color: White;
    
    xborder: solid 1px #6FA9EA;
    xborder: solid 1px Silver;
    
    
    
    -moz-border-radius: 5px;                        
    -webkit-border-radius: 5px;                         
    -khtml-border-radius: 5px;                      
    border-radius: 5px;        
    
	opacity: 0.9;
	filter:alpha(opacity=90); /* For IE8 and earlier */

    -webkit-box-shadow: 0 0 15px Gray;    
    box-shadow: 0 0 15px Gray;    
}

.ie8 .mmItem div.mmIsSubMenu:hover div.mmInfo,
.ie9 .mmItem div.mmIsSubMenu:hover div.mmInfo, 
.ie8 .mmItem div.mmIsSubMenu_hover div.mmInfo,
.ie9 .mmItem div.mmIsSubMenu_hover div.mmInfo { border: solid 1px Silver; }

.mmItem div.mmIsSubMenu:hover div.mmInfo div.mmOpis, 
.mmItem div.mmIsSubMenu_hover div.mmInfo div.mmOpis { left: 4px; }
.mmItem div.mmIsSubMenu:hover div.mmInfo div.mmOpis span, 
.mmItem div.mmIsSubMenu_hover div.mmInfo div.mmOpis span { xcolor: #14427D; color: Gray; text-shadow: Silver 2px 2px 7px; }
.mmItem div.mmIsSubMenu:hover div.mmInfo div.divider, 
.mmItem div.mmIsSubMenu_hover div.mmInfo div.divider { margin: 0px 8px 0px 8px; height: 3px; 
    xbackground-color: Gray; 
    xbackground-color: #0099FF; 
    xbackground-color: #8FDB3C;
    xbackground-color: Lime;
    xbackground-color: Red;
    xbackground-color: #AA0000;
    background-color: #E00024;
   
}
.mmItem div.mmIsSubMenu:hover div.mmInfo hr,
.mmItem div.mmIsSubMenu_hover div.mmInfo hr { margin: 1px 0px 2px 0px; height: 1px; border: none; border-bottom: solid 1px Silver; }
.mmItem div.mmIsSubMenu div.mmSubMenu, 
.mmItem div.mmIsSubMenu_hover div.mmSubMenu { padding: 2px 8px 8px 8px; }
.mmItem div.mmIsSubMenu div.mmSubMenu input, 
.mmItem div.mmIsSubMenu_hover div.mmSubMenu input {  
    display: block;
    padding: 4px 8px 4px 8px;
    margin: 0px; 
    width: 100%;
    text-align: left;
    border: none;
    background-color: Transparent;
}
.mmItem div.mmIsSubMenu div.mmSubMenu input:hover,
.mmItem div.mmIsSubMenu_hover div.mmSubMenu input:hover { 
    xbackground-color: #4490E4; 
    background-color: #6FB7FF;
    background-color: Red;
    background-color: #555555;
    background-color: #3A0E0E;
    background-color: Gray;
    color: White; }

.mmItem div#mmCaption1:hover { background:url(~/../../images/toolbar3.jpg) no-repeat -217px -38px; }
.mmItem div#mmCaption2:hover { background:url(~/../../images/toolbar3.jpg) no-repeat -366px -38px; }
.mmItem div#mmCaption3:hover { background:url(~/../../images/toolbar3.jpg) no-repeat -516px -38px; }
.mmItem div#mmCaption4:hover { background:url(~/../../images/toolbar3.jpg) no-repeat -666px -38px; }
.mmItem div#mmCaption5:hover { background:url(~/../../images/toolbar3.jpg) no-repeat -815px -38px; }

.mmSelected div#mmCaption1 { background:url(~/../../images/toolbar3.jpg) no-repeat -217px -38px; }
.mmSelected div#mmCaption2 { background:url(~/../../images/toolbar3.jpg) no-repeat -366px -38px; }
.mmSelected div#mmCaption3 { background:url(~/../../images/toolbar3.jpg) no-repeat -516px -38px; }
.mmSelected div#mmCaption4 { background:url(~/../../images/toolbar3.jpg) no-repeat -666px -38px; }
.mmSelected div#mmCaption5 { background:url(~/../../images/toolbar3.jpg) no-repeat -816px -38px; }

/* just do lewej
.mmSelected #mmCaption1:hover table { background:url(~/../../images/toolbar3.jpg) no-repeat -5px -39px; }
.mmSelected #mmCaption2:hover table { background:url(~/../../images/toolbar3.jpg) no-repeat -155px -39px; }
.mmSelected #mmCaption3:hover table { background:url(~/../../images/toolbar3.jpg) no-repeat -305px -39px; }
.mmSelected #mmCaption4:hover table { background:url(~/../../images/toolbar3.jpg) no-repeat -455px -39px; }
.mmSelected #mmCaption5:hover table { background:url(~/../../images/toolbar3.jpg) no-repeat -605px -39px; }
*/





