input.button,
input.button40,
input.button75,
input.button100,
input.button125,
input.button150,
input.button200,
input.button250
{
    vertical-align: middle;     
    xwidth: 70px; 
    line-height: 48px;
    height: 48px; 
    padding: 0px; 
    xborder: solid 1px #8BACDA;
    border: solid 1px Gray;
    color: White;
    vertical-align: middle;        

    -moz-border-radius: 3px;                        
    -webkit-border-radius: 3px;                     
    -khtml-border-radius: 3px;                      
    border-radius: 3px !important;                             
    
    xbackground: #3399FF url(../images/magnifier.png) no-repeat center center;
    xbackground: Silver url(../images/magnifier.png) no-repeat center center;
    xbackground: #3399FF url(../images/loopka.png) no-repeat center center;

    display: inline-block;
    padding: 0px 16px 0px 16px;
    background-color: Silver; 
    text-decoration: none;
    font-weight: bold; 

    /*
    xborder: solid 2px Silver;
    xwidth: 140px;
    
    height: 48px;
    
    x-moz-border-radius: 5px;                        
    x-webkit-border-radius: 5px;                         
    x-khtml-border-radius: 5px;                      
    xborder-radius: 5px;                             
    
    background: White url('~/../../images/back/gray_70.png') repeat-x top; 
    color: #507CD1;    
    x-webkit-box-shadow: 0 0 15px Silver;    

    border: solid 1px Silver;
    -moz-border-radius: 8px;                        
    -webkit-border-radius: 8px;                         
    -khtml-border-radius: 8px;                      
    border-radius: 8px;                                 
    -webkit-box-shadow: 2px 2px 3px 0px #DDDDDD;        
    x-webkit-box-shadow: 0 0 5px #DDDDDD;    
    */
}

input.button75 { width: auto; min-width: 75px; }


input.button:hover,
input.button40:hover,
input.button75:hover,
input.button100:hover,
input.button125:hover,
input.button150:hover,
input.button200:hover,
input.button250:hover {

    border: solid 1px Black;
    background-color: White;
    color: black;
    xbackground: White url(../images/loopka_w.png) no-repeat center center;
    xbackground-color: Lime;

    /*
    xbackground: White url('~/../../images/back/gray_70r.png') repeat-x top; 
    background-image: none;
    color: #46AA42;
    */
}

.pager span span { width: 32px; height: 32px; background-color: Yellow; }
.pager a { min-width: 32px; height: 32px; }
.pager a.nav { xwidth: 32px; height: 32px; }
.pager span.count span { background-color: Transparent; }
.pager span.cntLetterDataPager a { width: auto; height: auto; min-width: 12px; }

div.mnKategorie div span { height: 64px; line-height: 64px; background-position: left center; }
div.mnKategorie .mnPodKategorie a { height: 64px; line-height: 64px; }

div#header div.search { xmargin-top: 32px; margin-top: 48px; xmargin-top: 64px; }
div#header div.search input.button { 
    height: 48px; 
    vertical-align: bottom;     
    -webkit-box-shadow: none;        
}

div.cntPliki div.plik { height: 32px; }
div.cntPliki div.plik a { line-height: 32px; display: inline-block; 
    border: solid 1px #DDDDDD; 
    xborder: solid 1px Gray; 
    xbackground-color: #EEEEEE; 
    xcolor: White; 
    
    background-color: #FAFAFA; 
    padding: 0px 8px 0px 8px;
    -moz-border-radius: 5px;                        
    -webkit-border-radius: 5px;                     
    -khtml-border-radius: 5px;                      
    border-radius: 5px !important;   
}

div.cntSearch table.tbSearch table tr td div.text { line-height: 32px; display: inline-block; border: solid 1px #DDDDDD; background-color: #FAFAFA; padding: 0px 8px 0px 8px; }


div#mainformcontent div#content div#helpButton { xborder: solid 1px red; display: block; position: absolute; width: 1px; } 
xxxdiv#mainformcontent div#content div#helpButton div { position: relative; width: 222px; left: -200px; xtop: 69px; top: 6px; text-align: right; xborder: solid 1px red; } 
div#mainformcontent div#content div#helpButton div { display: inline-block; 
    xposition: relative; 
    position: absolute; 
    right: -10px; 
    xtop: 69px; 
    top: 6px; 
    width: auto; 
    text-align: right; 
    white-space: nowrap; 
    
    xborder: solid 1px red; 
} 


div#mainformcontent div#content div#helpButton a,
div#mainformcontent div.helpHideButton a
{ 
    vertical-align: middle;     
    xwidth: 70px; 
    line-height: 48px;
    height: 48px; 
    padding: 0px; 
    xborder: solid 1px #8BACDA;
    border: solid 1px Gray;
    color: White;
    vertical-align: middle;        

    -moz-border-radius: 3px;                        
    -webkit-border-radius: 3px;                     
    -khtml-border-radius: 3px;                      
    border-radius: 3px !important;                             
    
    xbackground: #3399FF url(../images/magnifier.png) no-repeat center center;
    xbackground: Silver url(../images/magnifier.png) no-repeat center center;
    xbackground: #3399FF url(../images/loopka.png) no-repeat center center;

    display: inline-block;
    padding: 0px 16px 0px 16px;
    background-color: Silver; 
    text-decoration: none;
    font-weight: bold;
}

div#mainformcontent div#content div#helpButton a:hover,
div#mainformcontent div.helpHideButton a:hover
{ 
    border: solid 1px Black;
    background-color: White;
    color: black;
    xbackground: White url(../images/loopka_w.png) no-repeat center center;
    xbackground-color: Lime;
}



div.paKioskLogin {
}

div.paKioskLogin div.float {
    width: 250px;
    height: 150px;
    border: solid 2px Gray;
    position: relative;
    left: 1000px; 
    background-color: #EEEEEE;
}

div.paKioskLogin input {
    width: 100px;
}






div.paGazetka { 
    height: 860px !important;
}
