ul.sql-menu >   li a{
    height: 60px;
    line-height: 60px;
}

input.button, input.button75, input.button100, input.button125, input.button150, input.button200, input.button250, input.ibutton{
    padding: 15px 20px;
    line-height: 0px;
}

.pager a.nav, .pager a{
    padding: 10px 15px;
}

.pager span > span{
    padding: 10px 15px;
}

.ui-datepicker td span, .ui-datepicker td a{
    padding: 16px !important;
}

.ui-datepicker{
    width: auto !important;
}

.button100{
    width: auto !important;
}

