/*----- topMenu padding -----*/
div.topMenu div.mmStrip span.mmItem div.mmCaption div.mmText span,
div.topMenu table.mmStrip table.mmItem div.mmCaption div.mmText span
{
    padding: 0px 0px 0px 0px;    
}

/*----- HEADER -----*/
#mainformcontent div#helpButton a{color:white;text-decoration:none;text-shadow:1px 0px black,0px 1px black, -1px 0px black, 0px -1px black;}
#mainformcontent div#header
{
	display: block;
	clear: both;
	height: 100px;
	width: 100%; 
    background-image:url('../images/portal/p2/toolbar_gray.png');
    background-repeat:no-repeat;
    background-position:-50px -15px;
    background-color:#646464;
    
    
}

div#mainformcontent div#header div.topMenuContainer {
    background: url('~/../../images/portal/p2/spx_white.png') no-repeat 150px top;
    height: 100px;
    width:960px;
}

div#mainformcontent div#header div.topMenuContainerP {
    background: none;
    height: 50px;
}

div#mainformcontent div#header div.topMenu {
    float: right;
}

div.topMenu table.mmStrip td { width: 1px !important; } /* chrome 30 i tak zostawia 1px - tak wycinamy odstęp 3px między tabami, działa też na IE6 */

div.topMenu a { height: 1px; display: block; }   /* niektóre przegladarki wyswietlają zawsze height: 1px dla skiplink */ 
div.topMenu div.mmStrip a.mmItem,
div.topMenu table.mmStrip a.mmItem { height: auto; }

div.topMenu div.mmStrip,
div.topMenu table.mmStrip 
{
    position: relative;
    top: -1px;          /* skip link */
    empty-cells: hide;  /* dla ie78 - td 3px */

    border-collapse: collapse;
    border-spacing: 0px;    
    border-width: 0px;
}
div.topMenu table.mmStrip {
    z-index: 100;        /* IE8 fix znika tab*/
}

div.topMenu table.mmStrip td { vertical-align: top; } 

div.topMenu div.mmStrip td span.mmItem,
div.topMenu table.mmStrip td table.mmItem {
    border-collapse: collapse;
    border-spacing: 0px;    
    border-width: 0px;
}
div.topMenu table.mmStrip table.mmItem td { } 

div.topMenu div.mmStrip a.mmItem { float: left; }

div.topMenu div.mmStrip a.mmItem,
div.topMenu table.mmStrip a.mmItem { 
    width: 160px;       /* regulacja szerokości */
}

div.topMenu div.mmStrip span.mmItem div.mmCaption,
div.topMenu table.mmStrip table.mmItem div.mmCaption { 
    position: relative;
    width: 160px;       /* regulacja szerokości */
    height: 50px;       /* regulacja wysokości */
    cursor: pointer;    
}

div.topMenu div.mmStrip span.mmItem div.mmCaption div.mmText, 
div.topMenu table.mmStrip table.mmItem div.mmCaption div.mmText 
{
    font-family: Segoe UI, Arial, Verdana, sans-serif;
    
    font-weight: normal;
    font-style: normal;
    font-size: 19px;
    line-height: 12px; 
    color: #555;
    text-align: left;    
}

.not_ie .mmItem .mmText { font-size: 12px; }
.ie .mmItem .mmText { font-size: 12px; }

div.topMenu div.mmStrip span.mmItem div.mmCaption div.mmText span,
div.topMenu table.mmStrip table.mmItem div.mmCaption div.mmText span
{
    color:White;
    border-left:none;
    border-bottom:1px solid white;
    display: block;
    padding: none;  
}

div.topMenu div.mmStrip span.mmItem div.mmCaption div.mmText div,
div.topMenu table.mmStrip table.mmItem div.mmCaption div.mmText div
{
    font-family: Tahoma, Helvetica, sans-serif;

    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    font-size: 12px;

    text-align: right;
    color: #47A942;

    line-height: 12px; 
    padding: none;
    
    white-space: normal !important;

}

div.topMenu div.mmStrip span.mmItem div.mmCaption:hover div.mmText span,
div.topMenu table.mmStrip table.mmItem div.mmCaption:hover div.mmText span
{
    top: 0px;
    box-shadow:0px -10px 5px -10px black inset;
}


.xxxmmItem div#mmCaption5   { border-right: none !important; }
.mmItem div#mmCaption4      { border-right: none !important; }
.mmItem div.mmCaption       { border-left: none !important; }

.mmItem #mmCaption1 { background:none; }
.mmItem #mmCaption2 { background:none; }
.mmItem #mmCaption3 { background:none; }
.mmItem #mmCaption4 { background:none; }
.mmItem #mmCaption5 { background:none; }

xx.mmItem div#mmCaption4{border-right:none;}  /* 1-orange 2-green 3-blue 4-red 5-lblue          orange lblue blue red green*/ 

.mmItem #mmCaption:hover { xbox-shadow: 0px 15px 10px -10px #47A942 }

.mmItem #mmCaption1:hover { background:none; }
.mmItem #mmCaption2:hover { background:none;}
.mmItem #mmCaption3:hover { background:none;}
.mmItem #mmCaption4:hover { background:none; }
.mmItem #mmCaption5:hover { background:none; }

.mmSelected #mmCaption1 { background:none; }
.mmSelected #mmCaption2 { background:none; }
.mmSelected #mmCaption3 { background:none; }
.mmSelected #mmCaption4 { background:none; }
.mmSelected #mmCaption5 { background:none; }




/*----- PORTAL -----*/
div#portal { height: 100%; text-align: left; }
table.portal { height: 100%; }
table.portal td.menu { width: 220px; vertical-align: top; padding:0px; }
table.portal td.content { vertical-align: top; xpadding-left: 10px; padding-right: 16px; }
table.portal td.portal_right { width: 198px; }


/*----- PORTAL - LEFT MENU -----*/
div.mnKategorie  
{
    cursor:pointer;
    width:220px;
    height:1024px !important;
    overflow:hidden !important;
    
    position:relative;
    top:0px;
    bottom:0px;
    left:0px;
    background-color:#646464;
    background-image:url('../images/portal/p2/noisepattern.png');
    z-index:5;
    border-right:1px solid black;
    }
div.mnKategorie table {  }
div.mnKategorie table td { overflow:hidden; padding: 0px; xborder: solid 1px red; }
div.mnKategorie a,
div.mnKategorie span 
{
    overflow:hidden;
    color:White;
    font-size:20px;
    text-decoration: none;
    margin-left:10px;
    width:180px;
    height:40px;
    margin-top:10px;
    margin-bottom:-12px;
    line-height:40px;
    background-color:#777;
    background-image:url('../images/portal/p2/noisepattern.png');
    display:inline-block;
    padding-left:10px;
    padding-right:10px;
    text-shadow:0px 0px 2px black;
    border-radius:5px 5px 0px 0px;
    transition: background 0.5s, box-shadow 0.8s;
    border-top:1px solid black;
}

div.mnKategorie span:active{color:transparent;}
div.mnKategorie span:hover{background:#46AA42  }
div.mnKategorie a { text-decoration: none; }
div.mnKategorie a.button_postback { display: none; }

div.mnKategorie div.mnKategoriaSelected span 
{
    overflow:hidden; 
    color: #747474; 
    text-shadow:0px 0px 5px black; 
    margin-left:10px !important;
    width:180px;
    background:#424242;
    box-shadow:0px 1px 1px black inset;
}

div.mnKategorieContent {overflow:hidden; xborder: solid 1px green; }
table.mnPodKategorie  
{
    overflow:hidden; 
    background:#424242;
    width:200px;
    margin-left:10px;
    border-radius:0px 0px 5px 5px;
    box-shadow:0px -3px 1px black inset;
}
table.mnPodKategorie a, 
table.mnPodKategorie span 
{
    overflow:hidden;
    color:White;
    font-size:20px;
    text-decoration: none;
    text-align:center;
    margin-left:10px ;
    margin-right:10px ;
    margin-top:4px;
    margin-bottom:10px;
    padding:0px ;
    width:180px ;
    height:40px;
    line-height:40px;
    background-color:#777;
    background-image:url('../images/portal/p2/noisepattern.png');
    display:inline-block;
    border-radius:5px;
}

table.mnPodKategorie a:hover
{background:#46AA42;box-shadow:0px -2px 1px black;}    

/*----- HEADER -----*/
#mainformcontent div#header
{
	display: block;
	clear: both;
	height: 100px;
	width: 100%; 
    background-image:url('../images/portal/p2/toolbar_gray.png');
    background-repeat:no-repeat;
    background-position:0px -15px;
    background-color:#646464;
}


div.topMenu a { height: 1px; display: block; }   /* niektóre przegladarki wyswietlają zawsze height: 1px dla skiplink */ 
div.topMenu div.mmStrip a.mmItem,
div.topMenu table.mmStrip a.mmItem { height: auto; }

div.topMenu div.mmStrip,
div.topMenu table.mmStrip {
    position: relative;
    top: -1px;          /* skip link */
    empty-cells: hide;  /* dla ie78 - td 3px */

    border-collapse: collapse;
    border-spacing: 0px;    
    border-width: 0px;
}
div.topMenu table.mmStrip {
    z-index: 100;        /* IE8 fix znika tab*/
}

div.topMenu table.mmStrip td { vertical-align: top; } 

div.topMenu div.mmStrip td span.mmItem,
div.topMenu table.mmStrip td table.mmItem {
    border-collapse: collapse;
    border-spacing: 0px;    
    border-width: 0px;
}
div.topMenu table.mmStrip table.mmItem td { } 

div.topMenu div.mmStrip a.mmItem { float: left; }

div.topMenu div.mmStrip a.mmItem,
div.topMenu table.mmStrip a.mmItem { 
    width: 160px;       /* regulacja szerokości */
}

div.topMenu div.mmStrip span.mmItem div.mmCaption,
div.topMenu table.mmStrip table.mmItem div.mmCaption { 
    position: relative;
    width: 160px;       /* regulacja szerokości */
    height: 50px;       /* regulacja wysokości */
    xbackground-image: none !important;
    cursor: pointer;
    
}

div.topMenu div.mmStrip span.mmItem div.mmCaption div.mmText, 
div.topMenu table.mmStrip table.mmItem div.mmCaption div.mmText 
{
    font-family: Segoe UI, Arial, Verdana, sans-serif;
    
    font-weight: normal;
    font-style: normal;
    font-size: 19px;
    line-height: 17px; 
    color: #555;
    text-align: left;    
}

.not_ie .mmItem .mmText { font-size: 12px; }
.ie .mmItem .mmText { font-size: 12px; }

div.topMenu div.mmStrip span.mmItem div.mmCaption div.mmText span,
div.topMenu table.mmStrip table.mmItem div.mmCaption div.mmText span
{
    color:White;
    border-left:none;
    border-bottom:1px solid white;
    display: block;
    padding: none;  
}

div.topMenu div.mmStrip span.mmItem div.mmCaption:hover div.mmText span,
div.topMenu table.mmStrip table.mmItem div.mmCaption:hover div.mmText span
{
    text-shadow: 1px 0px 1px black, -1px 0px 1px black, 0px -1px 1px black;    
}

div.topMenu div.mmStrip span.mmItem div.mmCaption div.mmText div,
div.topMenu table.mmStrip table.mmItem div.mmCaption div.mmText div
{
    font-family: Tahoma, Helvetica, sans-serif;

    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    font-size: 12px;

    text-align:right;
    color:#44A340;

    line-height: 12px; 
    padding: 2px;
    
    white-space: normal !important;
    height:28px;
}

div.topMenu table.mmStrip table.mmItem div.mmCaption:hover div.mmText div
{
    color:#99FF00;
    background:#646464;
}

.xxxmmItem div#mmCaption5 { border-right: none !important; }
.mmItem div#mmCaption4 { border-right: none !important; }
.mmItem div.mmCaption { border-left: none !important; }

.mmItem #mmCaption1 { background:none; }
.mmItem #mmCaption2 { background:none; }
.mmItem #mmCaption3 { background:none; }
.mmItem #mmCaption4 { background:none; }
.mmItem #mmCaption5 { background:none; }

xx.mmItem div#mmCaption4{border-right:none;}  /* 1-orange 2-green 3-blue 4-red 5-lblue          orange lblue blue red green*/ 

.mmItem #mmCaption:hover { box-shadow: 0px 15px 10px -10px #47A942 }

.mmItem #mmCaption1:hover { background:none; }
.mmItem #mmCaption2:hover { background:none;}
.mmItem #mmCaption3:hover { background:none;}
.mmItem #mmCaption4:hover { background:none; }
.mmItem #mmCaption5:hover { background:none; }

.mmSelected #mmCaption1 { background:none; }
.mmSelected #mmCaption2 { background:none; }
.mmSelected #mmCaption3 { background:none; }
.mmSelected #mmCaption4 { background:none; }
.mmSelected #mmCaption5 { background:none; }




/*----- PORTAL -----*/
div#portal { height: 100%; xborder: solid 1px red; text-align: left; }
table.portal { height: 100%; xborder: solid 1px green !important; }
table.portal td.menu { width: 220px; vertical-align: top; padding:0px; }
table.portal td.content { vertical-align: top; xpadding-left: 10px; padding-right: 16px; }
table.portal td.portal_right { width: 198px; }




/*----- CONTENT -----*/
#mainformcontent div#content 
{
	min-height: 400px;
	width: 100%;
    background: #dedede;
}


table.mnPodKategorie tr.sit a,
table.mnPodKategorie tr.sit span {overflow:hidden; background-color: #DDDDDD; xcolor: Red; }


div.page960
{
    padding:25px 10px 15px 10px;
    margin-top:30px;
    color:White;
    background:#8D8D8D;
    border-radius:0px;
    box-shadow:0px 3px 0px #494949;
}

/*----- FOOTER -----*/
#mainformcontent div#footer 
{
    min-height: 220px;
	width: 100%;
	border-top:solid 1px black;
    background-color:#C3C3C3;
    background-image:url('../images/portal/p2/noisepattern.png');
}

#mainformcontent #footer div.center
{
    margin-top:30px;
    margin-bottom:30px;
    height:160px;
    float:left;
    margin-left:15px;
    color:Black;
    text-shadow: 0px 1px 1px #646464; 
} 

#mainformcontent #footer div.center a.right
{
    
}


/*----- Imie i nazwisko -----*/
#mainformcontent div#header div#user span, #mainformcontent div#header div#user a {
    color: #FFF;
}

#concept
{
    float:left;
    width:220px;
    height:100px;
    color:white;
    
    position:absolute;
    top:0px;
    left:0px;
    
    background-color:#646464;
    background-image:url('../images/portal/p2/noisepattern.png');
    border-right:1px solid black;
    
    box-shadow:0px -5px 20px -5px black;
}

#concept table
{
    font-weight:bold;
    width:100%;
    height:100%;
    text-align:center;
}

#concept table tr td
{
    xborder:1px solid white;
}

div.photo
{
    border:2px solid white;
    background-image:url('../images/portal/p2/stock.png');
    width:50px;
    height:50px;
    border-radius:100%;
    box-shadow:0px 0px 2px black inset;
    margin:0 auto;
}

div.switch
{
    width:20px;
    height:50px;
    background:#6e6e6e url('../images/portal/p2/menu_icon.png') no-repeat center;
    xbox-shadow:0px 0px 5px black inset;
    cursor:pointer;
}

div.switch:hover
{
    background-color:#3f3f3f;
    xborder-radius:10px;
}