div#header div.logo img,
.rcp div#header div.logo img {
    width: 140px;
    height: auto;
    xmargin-left: -190px;
    margin-left: -16px;
    margin-top: 10px;
    xdisplay: none;
}

.mmItem div.mmCaption div.mmTitle span {
    color: #E0013F;
    xtext-shadow: Black 2px 2px 7px;
}

.mmItem div.mmCaption:hover div.mmTitle span {
    color: #E0013F;
    xtext-shadow: Black 2px 2px 7px;
}


.mmItem div.mmIsSubMenu:hover div.mmInfo div.divider, 
.mmItem div.mmIsSubMenu_hover div.mmInfo div.divider {
    background-color: #E0013F;
}

table.rep_header td.col3 { padding-left: 8px 0px 0px 0px; }
table.rep_header td.col3 img { height: 55px !important; width: auto !important; margin-right: 15px !important; margin-top: 6px !important; }



/* SPX
div#header div.logo img,
.rcp div#header div.logo img {
    width: auto;
    height: auto;
    xmargin-left: -190px;
    margin-left: -20px;
    margin-top: 10px;
    display: none;
}

.mmItem div.mmCaption div.mmTitle span {
    color: #8FDB3C;
    text-shadow: Black 2px 2px 7px;
}

.mmItem div.mmCaption:hover div.mmTitle span {
    color: #8FDB3C;
    text-shadow: Black 2px 2px 7px;
}


.mmItem div.mmIsSubMenu:hover div.mmInfo div.divider, 
.mmItem div.mmIsSubMenu_hover div.mmInfo div.divider {
    background-color: #8FDB3C;
}

table.rep_header td.col3 { padding-left: 8px 0px 0px 0px; }
table.rep_header td.col3 img { height: 55px !important; width: auto !important; margin-right: 15px !important; margin-top: 6px !important; }

*/