

<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title </title>
    @*<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />*@


    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/scripts/jquery-2.1.1.js"></script>
    <script src="~/scripts/materialize/materialize.min.js"></script>
    <link href="~/Content/materialize/css/materialize.min.css" rel="stylesheet" />

    <link href="~/Areas/ME/Style/Nav.css" rel="stylesheet" />

    <link rel="stylesheet" type="text/css" href="~/styles/FontAwesome/css/font-awesome.min.css" />


</head>
@{Html.RenderAction("getMainMenu", "Menu");}


<body>

    <div class="container">
        <div class="row col m12" style="padding-left: 10px; padding-top: 1px;">

            <p>
                <h3 style=" color: #555555;">
                    @ViewBag.Title

                    
                    
                    

                </h3>
                <hr />
            </p>

        </div>
        @RenderBody()
    </div>


</body>

</html>