
@{
    ViewBag.Title = "Raporty";
}
<link href="~/Areas/ME/Style/Raporty.css" rel="stylesheet" />


<div class="card" style="padding: 43px 20px 20px 20px; background-color: #fbfbfb">


    <div class="row">
        <div class="col s12 m12">

            <div class="card" id="1">
                <div class="card-content">
                    <div class="card-title">
                        <i class="material-icons left icon-raport">assessment</i>
                        Pracownicy - wskaźniki premiowe
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col s12 m12">
            <div class="card" id="2">
                <div class="card-content">
                    <div class="card-title">
                        <i class="material-icons left icon-raport">brightness_auto</i>
                        Pracownicy - oceny
                    </div>
                    <div class="card-body">
                        Zestawienie pracowników wraz z ocenami z Matrycy i przypisaniem do struktury organizacyjnej
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m12">
            <div class="card" id="3">
                <div class="card-content">
                    <div class="card-title">
                        <i class="material-icons left icon-raport">group</i>
                        Pracownicy - podległości
                    </div>
                    <div class="card-body">
                        Zestawienie pracowników wraz z przypisaniem do sktruktury organizacyjnej
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m12">
            <div class="card" id="4">
                <div class="card-content">
                    <div class="card-title">
                        <i class="material-icons left icon-raport">next_week</i>
                        Stanowiska
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m12">
            <div class="card" id="5">
                <div class="card-content">
                    <div class="card-title">
                        <i class="material-icons left icon-raport">pan_tool</i>
                        Czynności
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m12">
            <div class="card" id="6">
                <div class="card-content">
                    <div class="card-title">
                        <i class="material-icons left icon-raport">alarm</i>
                        Status samokontroli - miesięcznie
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m12">
            <div class="card" id="7">
                <div class="card-content">
                    <div class="card-title">
                        <i class="material-icons left icon-raport">access_time</i>
                        Status samokontroli - pracownicy
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m12">
            <div class="card"  id="8">
                <div class="card-content">
                    <div class="card-title">
                        <i class="material-icons left icon-raport">find_in_page</i>
                        Taryfikator (zoom)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('#1').click(function () {
        $.ajax({
            url: "@Url.Action("raporty1")",
            type: "GET"
        });
    });
</script>