@using HRRcp.Areas.MVC.Models;

@model IEnumerable<dicUprawnienia>



    `<div class="row">
         <div class="col s12">
             <ul id = "tabs-swipe-demo" class="tabs">

                 <li class="tab col s3"><a class="active" href="#test-swipe-1">Uprawnienia użytkownika</a></li>
                 @*<li class="tab col s3"><a href="#test-swipe-2">Dostępne uprawnienia</a></li>*@
             </ul>
         </div>
    </div>
@using (Html.BeginForm())
{
    <div id="test-swipe-1" class="col s12">

        <table>

            @foreach (var item in Model)
            {
                if (item.Dotyczy == true)
                {
                    <tr>
                        <td>
                            <input type="checkbox" id="test7" name="check" checked="checked" disabled="disabled" />
                            <label for="test7">@item.Nazwa</label>
                        </td>
                        <td></td>
                    </tr>
            }

            if (item.Dotyczy == false)
            {
                    <tr>
                        <td>
                            <input type="checkbox" name="check" id="checbox_@item.Id" />
                            <label for="checbox_@item.Id">@item.Nazwa</label>
                        </td>
                        <td></td>
                    </tr>
                }
            }
        </table>
    </div>

    <input type="submit" class="waves-effect waves-light btn blue btnpad" />
}

    @*<div id="test-swipe-2" class="col s12">
        
        <table class="striped bordered">
            @foreach (var item in Model)
            {
                if (item.Dotyczy == false)
                {
                    <tr>
                        <td>
                            <input type="checkbox" id="checbox_@item.Id" />
                            <label for="checbox_@item.Id">@item.Nazwa</label>
                        </td>
                        <td></td>
                    </tr>
                }
            }
</table>
</div>*@

