/* Regular */

/*@font-face {

    font-family: 'Open Sans';
    src: url('../Fonts/OpenSans-Regular.eot');
    src: url('../Fonts/OpenSans-Regular.eot?#iefix') format("embedded-opentype"), url('../Fonts/OpenSans-Regular.woff') format("woff");
    font-weight: normal;
    font-style: normal;
}*/

/* Bold */

/*@font-face {
    font-family: 'Open Sans';
    src: url('../Fonts/OpenSans-Bold.eot');
    src: url('../Fonts/OpenSans-Bold.eot?#iefix') format("embedded-opentype"), url('../Fonts/OpenSans-Bold.woff') format("woff");
    font-weight: bold;
    font-style: normal;
}*/

/* Italic */

/*@font-face {
    font-family: 'Open Sans';
    src: url('../Fonts/OpenSans-Italic.eot');
    src: url('../Fonts/OpenSans-Italic.eot?#iefix') format("embedded-opentype"), url('../Fonts/OpenSans-Italic.woff') format("woff");
    font-weight: normal;
    font-style: italic;
}*/

/* Italic Bold */

/*@font-face {
    font-family: 'Open Sans';
    src: url('../Fonts/OpenSans-ItalicBold.eot');
    src: url('../Fonts/OpenSans-ItalicBold.eot?#iefix') format("embedded-opentype"), url('../Fonts/OpenSans-ItalicBold.woff') format("woff");
    font-weight: bold;
    font-style: italic;
}*/

form { background-color: #F2F5F7; }



div.pageContent { padding: 16px !important; }

table.tbUprawnienia a{  color: #303030 !important; }

div.cntSpreadsheetsTasks { }
div.cntSpreadsheetsTasks .buttons { display:inline-block; width:80px; margin-top: 100px;}
div.cntSpreadsheetsTasks .buttons input { width: 75px !important; margin: 2px !important;}
div.cntSpreadsheetsTasks .left { display:inline-block; width: 430px; vertical-align: top; margin-left: 0px !important;}
div.cntSpreadsheetsTasks .left table { width: 400px;}
div.cntSpreadsheetsTasks .middle { display:inline-block; width: 540px; vertical-align: top;}
div.cntSpreadsheetsTasks .middle table.ListView1 { width: 520px; }
div.cntSpreadsheetsTasks .middle table .blockControl { xwidth: 50px; white-space: normal;}
div.cntSpreadsheetsTasks .middle table .task { width: 150px; white-space:normal; }
div.cntSpreadsheetsTasks .right { display:inline-block; vertical-align: top;}
div.cntSpreadsheetsTasks .right table { width: 350px;}


.datepickero{  xfont-size: 13px;  xcolor: #362cf3;  color: #000 !important; }

div.tabRight {  font-family: Tahoma;  }

div#header div.logo img{  width: auto;  height: auto;  margin-top: 16px; }

div.tbUprawnienia_topmenu{  border-bottom: none;  text-align: left; }

table.tbUprawnienia{  border-top: 1px solid #C0C0C0 !important;  }
table.tbZastepstwa table td { white-space: normal; }


/* ----------------------------------------------------------- nowy master ---------------------------------------------------------- */

*{  margin: 0;   xpadding: 0;  box-sizing: border-box;  font-family: /*Open Sans*/ sans-serif; }

html, body{  margin: 0;   padding: 0;  height: 100%; }

.footer { text-align: center; background-color: #333; }
.footer .row{  line-height: 30px;  xcolor: #A6B5D0 !important;  color: #fff !important; }
.footer a { color: #fff; }

ul.nav li.dropdown:hover > ul.dropdown-menu {  display: block; }

div.tbUprawnienia_topmenu .tabKwal{  margin-left: 10px !important;  float: none; }

.navbar{  border-radius: 0px; }
.navbar-default{ order: none; }
.navbar-top{  margin-bottom: 0px;  height: 52px;  min-height: 52px;  background-color: #fff;  box-shadow: 0px 1px rgba(200, 200, 200, 0.2);  z-index: 10000 !important;  xborder: 1px solid rgba(0, 0, 0, 0.1); } 
.navbar-bottom{  xbackground-color: #353535;  background-color: rgba(0, 0, 0, 0.01);  box-shadow: 0px 1px rgba(0, 0, 0, 1); }
.navbar-bottom ul.nav > li:hover {  border-bottom: solid 1px red; }
.navbar-default .navbar-nav > li > a{  xcolor: #67A0E4;  xcolor: #4A8FE0;  color: #000;  font-weight: bold; }
.navbar-default .navbar-nav > li:hover > a, .navbar-default .navbar-nav > li > a:focus{  xcolor: #fff;  text-shadow: 0px 0px 1px #ccc;  xcolor: #4A8FE0;  xcolor: #B40234; color: #337AB7; }
.navbar-bottom .container {  position: relative; }
.navbar-bottom .container .collapse{  position: absolute;  right: 0px;  }

span.app-title{  color: #2F323A;  xfloat: right;  line-height: 50px;  font-size: 28px;  xfont-family: Century Gothic;  xfont-weight: bold; }
span.app-title i{  margin-right: 8px; }

.navbar-right{  margin-right: 0px;  color: #5093E1 !important; }

div#content{  background-color: #F2F5F7/*EDEFF5*/; margin-top: 50px;   }

.pageContent{  border: none; }

table.tbUprawnienia{  xdisplay: none;  margin-top: 16px; }

/* wylaczenie obrazkow z caption */

span.caption img, span.caption1 img, span.caption2 img, span.caption3 img, span.caption4 img, div.caption img{  display: none; }
span.caption4, div.caption4{  padding-top: 0px;  padding-bottom: 0px;  padding-left: 0px;  text-align: center; }


.caption{ color: #FFF !important; background-color: #333; }


/* taby */

div.tabRight{  background: none; }
div.tabCaption{  background: none; }
div.tabLeft{  background: none; }
.tabHover .tabRight, .tabHover .tabLeft, .tabHover .tabCaption{  background: none;  text-decoration: none !important;  xborder: none !important; }
.tabRight:hover, .tabLeft:hover, .tabCaption:hover, .tabItem a{  text-decoration: none !important;  xborder: none !important; }
.tabSelected .tabRight{  background: none; }
.tabSelected .tabLeft{  background: none; }
.tabSelected .tabCaption{  background: none; }
.tabItem:hover .tabRight{  color: #333;  transition: color 0.3s ease 0s; }
.tabItem, div.tabRight, div.tabLeft, div.tabCaption{  font-family: /*Open Sans*/ sans-serif !important;  font-size: 14px;  xcolor: #5093E1;  color: #BDCBE5;  font-weight: bold;  text-align: left;  transition: color 0.3s ease 0s; }
.tabSelected div.tabCpation, .tabSelected div.tabLeft, .tabSelected div.tabRight, .tabSelected .tabItem{  color: #333 !important; }
.tabSelected div.tabCaption{  border-bottom: solid 2px /*#5193E1*/ #B40234;  padding-bottom: 4px !important;  padding-right: 0px !important;  padding-left: 0px !important; }
div.tabRight{  padding-right: 0px;  padding-left: 0px;  right: 0px; }
.tabSelected .tabCaption{  top: 0; }
.tabCaption{ margin-right: 16px;  padding: 6px;  padding-bottom: 5px !important;  height: auto !important;  border-top-left-radius: 4px;  border-top-right-radius: 4px; }
.tabItem:hover .tabCaption{  top: 0px !important; }

/* tbUprawnienia */

/*table.tbUprawnienia table tr th.data1 {  background-color: #f7f7f7;  }*/
/*table.tbUprawnienia table tr th.ups{  background-color: #F7F7F7; }*/
table.tbUprawnienia table tr td.suma_title, table.tbUprawnienia table tr td.suma{  background-color: /* #EDEFF5 */ #F7F7F7 !important; }
table.tbUprawnienia table tr td.monit{  background-color: #FF0 /* rgb(251, 238, 0) */ !important; }
table.tbUprawnienia table tr td.ok{  background-color: /* #50C14E */ /* #46AA42 */ #8FDB3C /* rgb(181, 230, 29) */ !important; }
table.tbUprawnienia table tr td.po{  background-color: /* #F65177 */ /* rgb(255, 21, 68) */ /* #f00 */ #CE3636 !important; }
table.tbUprawnienia table tr th.vert{  background-color: #EDEFF5 !important; }
table.tbUprawnienia table tr td.suma_title span{  font-weight: bold; }
table.tbUprawnienia table tr.it td a.zero{  color: #BAD1E7 !important; }
table.tbUprawnienia table tr th.vert{  background-color: #F7F7F7 !important;  border-color: #E9E9E9 !important; }
table.tbUprawnienia table tr th.vert a{  font-size: 14px; }
table.tbUprawnienia .vert div { overflow: visible; }
table.tbUprawnienia table tr th.vert div > span { margin: 2px 0px 0px 4px; }

/* buttony wszystkie */

/*input.button, input.button75, input.button100, input.button125, input.button150, input.button200, input.button250, input.ibutton{  background: #fff;  box-shadow: 1px 1px 1px #ccc !important;  color: #666;  border-color: #999;font-weight: bold;  font-family: Open Sans !important; border-radius: 3px;  transition: background 0.3s ease 0s, color 0.3s ease 0s;  text-shadow: 1px 1px 1px #eee !important;  padding-right: 4px;  padding-left: 4px;  line-height: 24px; font-size: 12px !important; }
input.button:hover, input.button75:hover, input.button100:hover, input.button125:hover, input.button150:hover, input.button200:hover, input.button250:hover, input.ibutton:hover{  background: #fff; color: #B40234;  transition: background 0.3s ease 0s, color 0.3s ease 0s; }*/

/* secondary buttons */

.secondary-buttons a{  margin-right: 6px;  color: #337AB7; }
.secondary-buttons a:hover{  text-decoration: none; }
.secondary-buttons i{  font-size: 20px; }

/* kolorowe buttony */

.btn-green{  color: rgb(80, 193, 78) !important;  border-color: rgb(80, 193, 78) !important;  xbox-shadow: 1px 1px 1px #ccc !important; }
.btn-green:hover{  background-color: rgb(80, 193, 78) !important;  border-color: rgb(80, 193, 78) !important;  color: #fff !important; }

.btn-excel{   color: #50C14E !important;  border-color: rgb(80, 193, 78) !important; }
.btn-excel:hover{  background: none !important;  border-color: rgb(80, 193, 78) !important;  color: #30a12E !important; }

.icon-black{ color: #333 !important; }
.icon-black:hover { color: #111 !important; }

.icon-blue { color: #337AB7 !important; }
.icon-blue:hover { color: #135A97 !important; }

.icon-white { color: #fff !important; }
.icon-white:hover { color: #ccc !important; }

.btn-pdf{  color: #CE3636 !important; }
.btn-pdf:hover{  color: #aE1616 !important; }

/* logo? */

.navbar-brand{  padding: 0px;  margin-left: 12px; }

div.pgSzkoleniaBHP table.caption{  margin-bottom: 0px; }
.right-buttons{  position: absolute;  right: 8px; }
.caption .right input { color: /* #5093E1 */ #B40234;  border-color: #eee; background-color: #fff;  font-weight: bold;  box-shadow: 1px 1px 2px #777 !important;  display: none; }
.right-buttons input:hover{  border-color: /* #5093E1 */ #B40234;  color: #fff;  background-color: /* #5093E1 */ #B40234; }
table.caption td.left span{  text-align: left !important;  margin-left: 8px; }
/*table.tbUprawnienia table tr td.brak a{  color: #B40234 !important;  background: none; }
table.tbUprawnienia table tr td.brak a:hover{  color: #B40234 !important; }*/

/* lv */

.ListView1 table th {  background: transparent none repeat scroll 0% 0%;  border: none;  color: /* rgb(180, 2, 52) new */ #3E4855;  font-weight: bold;  border-bottom: solid 1px #eee;  font-size: /* 11 */ 11px;  white-space: nowrap; }
.ListView1 table td{  border: none;  border-bottom: 1px solid rgb(238, 238, 238);  font-size: 12px;  padding: 4px 4px; }
.ListView1 table tr.it td {  background: none !important; }
.ListView1 table{  border: none; }

/* przyciski w listview */

/*table.ListView1 table input[type="submit"]{  color: #B40234;  border: none !important;  background-color: #fff;  font-family: Open Sans !important;  font-size: 11px !important;  border-radius: 0px;  line-height:*/ /* normal new */ 14px; ; }
/*table.ListView1 table input[type="submit"]:hover{*/  /* background-color: #B40234;  color: #fff;  border-radius: 3px; color: #F42254 !important; } */

/* zaznaczona linia */

.ListView1 table tr.sit td{ background-color: #EFF3FB; }
.ListView1 table tr.sit td input[type="submit"]{  background: none; }

/* edycyjna linia */

.ListView1 table tr.eit td{  background: none; }

/* insert linia */

.ListView1 table tr.iit td{  background: none;  border-bottom: none; }
x.ListView1 table tr.iit td.control input[type="submit"]{  color: #46AA42;  border-radius: 3px; }
x.ListView1 table tr.iit td.control input[type="submit"]:hover{ color: #66CA62 !important; }

/* koniec lv */

/* tytuly w administracji uprawnien */

div.cntAdmUprawnienia div.title{  border-bottom: none;  margin-top: 8px; }
div.cntAdmUprawnienia div.title span{  color: #000 !important; }
div.cntAdmUprawnienia table.ListView1{  margin-top: 12px; }

/* textboxy */

.form-control { display: inline-block; border: 1px solid #CCC !important; font-size: 14px !important; xwidth: auto !important; height: auto; padding: 5px 01 }
.input-sm { height: 30px !important; padding: 5px 10px !important; font-size: 12px !important; line-height: 1.5 !important; }

/* fix do uprawnien przez lv */

/*
table.tbUprawnienia table tr th.data1{  font-size: 9px;  border-right: 1px solid #E0E0E0;  border-bottom: 1px solid #C0C0C0;  xborder-color: #ccc; }
table.tbUprawnienia table tr th.ups{  border-right: 1px solid #E0E0E0;  border-bottom: 1px solid #C0C0C0; } */
table.tbUprawnienia table tr td.data{  color: #333 !important; }
table.tbUprawnienia table tr th.data1{ padding: 3px; border-right: 1px solid #E0E0E0;  border-bottom: none/* 1px solid #e0e0e0 */ !important;  border-color: #e9e9e9 !important;  color: #333 !important; white-space: normal; }
table.tbUprawnienia table tr th.data1 a{  font-size: 11px !important;  font-weight: bold; }
table.tbUprawnienia table tr th.ups{ border-left: solid 1px #bbb;  border-color: #e9e9e9 !important;  color: #808080 !important; border-bottom: none; }
table.tbUprawnienia table tr th.vert{  border: solid 1px #e0e0e0;  border-top: none; color: #333 !important;   }
table.tbUprawnienia table tr.header th{  border-bottom: solid 1px #e0e0e0;  border-color: /* #bbb */ #ddd !important;  color: #333 !important; }
table.tbUprawnienia table tr td.suma_title, table.tbUprawnienia table tr td.suma{  border-right: #e0e0e0;  border-top: #e0e0e0;  border-color: /* #bbb */ #e0e0e0 !important;  color: #333 !important; }
table.tbUprawnienia th {  border-color: #bbb !important;  color: #333 !important; }
table.tbUprawnienia table tr.it td.data a{  font-size: 13px;  border-color: #bbb !important;  color: #333 !important; vertical-align: middle; }
table.tbUprawnienia.ListView1 table td {  padding: 2px 4px !important;  border-color: /* #bbb */ #eee !important;  color: #333 !important; padding: 3px !important; }
table.tbUprawnienia table tr td{  border-top: 1px solid #E0E0E0;  border-right: 1px solid #EEE;  border-color: #bbb !important;  color: #333 !important; padding: 5px !important;}
table.tbUprawnienia {  border-top: 1px solid #C0C0C0 !important;  border-color: /* #bbb */ #e9e9e9 !important;  color: #333 !important; }
table.tbUprawnienia table{  border: 1px solid #C0C0C0;  border-top: none; }
table.tbUprawnienia table tr td.suma_title{  border: none !important;  background: none !important; }
table.tbUprawnienia table{  border-bottom: none;  border-left: none;  border-color: /* #bbb */ #E0E0E0 !important;  color: #333 !important; }
table.tbUprawnienia table tr th.divR, table.tbUprawnienia table tr td.divR {  border-right: 1px solid #808080 !important; color: #333 !important; }
table.tbUprawnienia .sumy td.divR, table.tbUprawnienia .data.divR{  border-right: none !important; }
table.tbUprawnienia table tr td.nazwisko{  border-left: solid 1px #bbb; }
table.tbUprawnienia table tr.header > th{  border-left: solid 1px #bbb; border-color: #aaa !important; border-left-width: 1px; border-left-style: solid; border-color: #FFF #337AB7 #FFF #FFF !important; border-right: 1px solid #337AB7 !important; }
table.tbUprawnienia a { text-transform: none;  }
table.tbUprawnienia table tr.it td a {  color: #337AB7 !important; }
.cntLetterDataPager{  display: none; }
th.data1 div {  width: 90px;  overflow: hidden;  text-overflow: ellipsis !important; }
/*table.tbUprawnienia table tr td.brak a{  border: none;  font-family: sans-serif !important;  font-size: 10px !important;  background: #fff !important;  padding: 0px; }*/
table.tbUprawnienia table tr td.brak:hover a{  color: #337AB7 !important; font-size: 10px !important; }
table.tbUprawnienia table tr:hover td.brak a:hover { color: #06C !important; }
table.tbUprawnienia table tr td.brak a:hover{  color: #B40234 !important; }
table.tbUprawnienia table tr.header th{  background-color: /* #EDEFF5 */ /* #f0f0f0 */ /* #E0E3ED */ #337AB7; padding: 8px; }

.tbUprawnieniaWide { width: 1200px !important; }

/* bootstrapowe labele są białe */

.label{  color: #333;  font-size: 13px;  font-weight: 700;  text-align: inherit;  display: inline-block; }

/* żeby captiony działaly też na divach */

div.caption, div.caption1, div.caption2, div.caption3, div.caption4 { vertical-align: middle;  font-family: Verdana,Arial,Helvetica,sans-serif;  font-size: 14px;  font-weight: bold;  display: block; padding: 18px;  text-align: left; /* moze srodek albo prawo __QUESTION__ */    position: relative; }

/* jak tego nie było to inputy dziwnie się zachowywały */

input, button, select, textarea{  line-height: normal; }

/* prawe przyciski na caption*/

div.caption .right{  float: right; }
div.caption .right a{  color: #fff;  margin-right: 8px; margin-top: -5px !important;  }
div.caption .right a:hover {  margin-right: 8px;  }


/* filtry */

.filters{  padding: 12px; }
.filters td.col1 {  height: 32px;  width: 100px; }
.filters td.col2{  width: 200px; }
.filters .label, .filters label{ margin-right: 4px; }
.filters select, .filters .search.textbox{  width: 180px; }

/* td brak na cntUprawnienia */

table.tbUprawnienia .brak a{  border-radius: 3px;   }

/* raporty - lista */

div#pgRaportyForm div.pagetitle{  xbackground-color: #B40234;  padding-left: 16px;  xpadding: 0px; }
div#pgRaportyForm div.pagetitle img{  display: none; }
div.pagetitle table td.title{  color: #eee !important; }
.mnKategorie div img{  display: none; }
div#pgRaportyForm a.button{  background: none !important;  border: none !important;  font-size: 15px !important;  color: #333 !important;  height: auto !important;  margin-bottom: 0px !important; }
div.pagetitle table td.ico{  xheight: auto; }
div#pgRaportyForm a.button img{  display: none; }
div#pgRaportyForm .mnPodKategorie {  margin-left: 28px;  width: auto;  color: #B40234 !important; }
div#pgRaportyForm .mnPodKategorie a{  color: #B40234 !important;  font-weight: bold; }
div#pgRaportyForm .sql-menu {  list-style-type: none; }
div#pgRaportyForm .sql-menu li{  padding: 2px; }
div#pgRaportyForm .sql-menu > li > a{  color: #333;  font-weight: bold;  font-size: 16px !important; }
div#pgRaportyForm .sql-menu ul{   }
div#pgRaportyForm .sql-menu ul > li{  list-style-type: none;  margin-left: 16px; }
div#pgRaportyForm .sql-menu ul > li a{  color: #B40234;  font-weight: bold;  font-size: 14px !important; }
div#pgRaportyForm li a i{  margin-right: 8px; }
div#pgRaportyForm .description{  xcolor: #b40234;  display: block;  margin-left: 8px;  color: #333 !important;  font-size: 13px; }
div#pgRaportyForm .lastrow{  xdisplay: none; }

/* RaportF */

div.report_page{  xmargin-top: 48px;  border: none;  padding: 0px;  background: none; }
table.rep_header{  background-color: /* #b40234 */ #333;  color: #fff; }
table.rep_header i{  margin-right: 8px; }

table.rep_header img{  xdisplay: none; width: auto !important; }

div.report_page .GridView1{  margin: 16px !important; }
div.report_page .grid-wrapper{  xtext-align: center;  background-color: #fff; margin: 0px auto; min-width: 960px;}
div.report_page .grid-wrapper > div{  xpadding: 32px;  background-color: #fff;  display: inline-block;  margin: 0 auto;  min-width: 960px;  min-height: 400px; }

div.report_page { box-shadow: 0 0 15px #CACACA; margin: 16px; }
div.report_page div.report-header { margin: 0px; padding: 8px; box-shadow: none; background-color: White; xborder-bottom: solid 1px #EEEEEE; 
    border-radius: initial;
    border-top-left-radius: 5px; 
    border-top-right-radius: 5px; 
}
div.report_page table.rep_header { background-color: transparent; color: #333; margin: 0px; }
div.RaportF div.paEdit{    position: absolute;  top: 112px;  right: 8px;  height: auto;  width: auto; }
div.RaportF div.paEdit div.buttons{  position: static; }
table.GridView1 th, table.GridView1 tr.header td, table.GridView1 tr.header:hover td{  background-color: #333; }
div.RaportF div.cntFilter { background-color: #F2F5F7; margin: 0; border: none; width: 100%; 
    border-radius: initial;
}

div.cntFilterFields table.tbFilterFields div.dateedit input.textbox { font-size: 12px !important; }


/* modale */

.ui-widget-header{  background: #333 !important;  border-color: #333 !important; height: 32px; }  /*T:naprawa height*/
div.ui-dialog{  background-color: #fff !important; }


.ui-dialog-content{ width: 100% !important; }
.ui-dialog-title { margin: 0 !important; }
.ui-dialog-titlebar { padding-top: 4px !important; }


/* page title */

div.pagetitle{  background-color: #333; }
div.pagetitle table td.ico { display: none; }
div.pagetitle table td.caption span { color: rgba(255, 255, 255, 0.8) !important; font-size: 11px; text-transform: none; font-family: /*Open Sans*/ sans-serif !important; padding: 0 !important; line-height: normal; font-weight: normal !important;}

/* td control */

table.tbBrowser table tr td.control { border-left: solid 1px #eee;   padding: 4px;  text-align: center !important; }
table.tbBrowser table tr td.control input{  xdisplay: block; }
div.cntCertyfikat table.ListView1 tr.iit td.col1{  background-color: #EDEFF5 !important; }
div.cntCertyfikat table.ListView1 tr.iit td.control{  xbackground-color: #EDEFF5 !important; }
table.cntCertyfikatHeader h3 span{  color: #B40234;  font-weight: bold; font-size: 11px; top: -17px; }

/* kompetencje */

table.tbUprawnienia table tr th.ocena { width: 40px; }
table.tbUprawnienia table tr td.ocena { width: 40px; background: none !important; }
table.tbUprawnienia table tr td.ocena:hover input { display: inline-block !important; }
table.tbUprawnienia table tr td.brak.ocena a { width: auto; }
table.tbUprawnienia table tr td.brak.ocena input[type='image'] { display: none; }
table.tbUprawnienia table tr td.ocena input[type='image'] { width: 14px; vertical-align: middle; margin-bottom: 1px; }
table.tbUprawnienia table tr td.brak.ocena.po { background: none !important }

.upr-wrapper{  xoverflow: auto;  padding-bottom: 16px; } /* 20160912 */

.cntSearch {  display: none; }

.cntSpreadsheetsTasks > div{  margin-left: 64px; }

.navbar-default{  background-color: #fff !important;  border-bottom: solid 1px #aaa;  }

th.ocena.divR{  border-right: none !important; }

#mainformcontent #header{  display: none !important; }
#mainformcontent #footer{  background-color: #333 !important;  color: #Fff !important; }
#mainformcontent #footer .center {  display: none; }

.ajax__calendar_container{  width: 180px !important; }
.ajax__calendar_days thead{  margin-bottom: 6px !important; }

/* open sans ftw */

select, textarea, input{ font-family: /*Open Sans*/ sans-serif !important; }
table.GridView1 th a{ font-family: Verdana; }
.navbar-fixed-top, .navbar-fixed-bottom { z-index: 500; }

.inline .cntTypes { display: inline-block; margin-right: 64px; }
.inlineb { display: inline-block !important; }


div.cntCertyfikatAdd tr.pager td div.pager1 { position: static;} 

select.input-xsm { height: 24px; line-height: 24px !important; padding: 0; }

/* ------------------------ KOLORY TABELKI ----------------------- */

table.tbUprawnienia table tr th.ups,
table.tbUprawnienia table tr th.data1,
table.tbUprawnienia table tr td.suma_title, 
table.tbUprawnienia table tr td.suma,
table.tbUprawnienia table tr th.vert{  xbackground-color: #EDEFF5 !important; background: /* rgba(230, 232, 240, 0.22) */ /* rgba(183, 194, 240, 0.2) */ #F2F5F7 !important }

table.tbUprawnienia a{  color: #333  /* #808080 */ /*#303030*/ /* #3E4855 */ !important; }
table.tbUprawnienia table tr td.suma_title span { xcolor: #3E4855 !important; text-transform: none !important; font-size: 12px !important; font-weight: normal !important; }

table.tbUprawnienia table tr.header > th a { color: #f0f0f0 !Important; text-transform: uppercase; }

.cntWidelki { margin-top: 32px; }
.cntWidelki .form-group div.dateedit { display: block; }


/* slowniki tytuly */

.cntTypes .title, .cntWidelki .title, .pgScParametry span.title { font-size: 24px; font-family: inherit; font-weight: 500; line-height: 1.1; color: inherit; text-transform: none; }  
/* { display: block; padding: 4px 0px; padding-bottom: 0px; font-size: 18px; font-weight: bold; margin-top: 8px; color: #3E4855; xtext-transform: uppercase;  } */
.cntTypes .subTitle, .cntWidelki .subTitle, .pgScParametry .subTitle { font-size: 14px; margin-top: 10px; margin-bottom: 10px; font-family: inherit; font-weight: 500; line-height: 1.1; color: inherit; display: block; }
/* { display: block; xfont-weight: bold; font-size: 13px; xfont-variant: small-caps; color: #777; margin-bottom: 8px; xborder-bottom: solid 1px #e0e0e0; xtext-decoration: underline; xcolor: #B40234; } */

.center960 { margin: 0 auto; width: 960px; }


/* zgłoszenie na szkolenie - karta */

.pgKartaZgloszenie { min-height: 400px; background-color: #fff; padding: 32px; padding-bottom: 64px; margin-top: 32px; margin-bottom: 32px; box-shadow: 1px 2px 3px #CCC; }
.pgKartaZgloszenie .cntKartaZgloszenie { }
.pgKartaZgloszenie .cntKartaZgloszenie table.tbHeader { margin: 0 auto; border-top: solid 1px #ccc; border-left: solid 1px #ccc; }
.pgKartaZgloszenie .cntKartaZgloszenie table.tbHeader tr td.col1 { width: 400px; background-color: #F2F5F7; }

.pgKartaZgloszenie .cntKartaZgloszenie table.tbPracownicy tr th { background-color: #F2F5F7; }

.form-control:hover { border-color: #ccc !Important; }
.form-control:focus { border-color: #66AFE9 !important; outline: 0px none !important; box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(102, 175, 233, 0.6) !important; }




/* h3 fix bootstrap */
h3 { font-size: 24px; font-family: inherit; font-weight: 500; line-height: 1.1; color: inherit; text-transform: none; }

.checker { xborder: solid 1px #BDCBE5; xpadding: 5px; xborder-radius: 32px; color: #BDCBE5; xfont-size: 16px; }
.checker:hover { border-color: #337AB7; color: #337AB7; }
.checked { xbackground-color: #337AB7; border-color: transparent; xcolor: #fff; color: #337AB7; }
.checked:hover { xcolor: #fff;}
/* bootstrap tables */

/*
th { text-align: left; }
td, th { padding: 0; }


.ListView1 { width: 100%; max-width: 100%; margin-bottom: 20px; background-color: Transparent; border-spacing: 0px; border-collapse: collapse;}
.ListView1 > thead > tr > th
, .ListView1 > tbody > tr > th
, .ListView1 > tfoot > tr > th
, .ListView1 > thead > tr > td
, .ListView1 > tbody > tr > td
, .ListView1 > tfoot > tr > td {  padding: 8px; line-height: 1.42857; vertical-align: top; border-top: 1px solid #DDD; }
*/


/* bo checkboxy sa w spanach */

xxtd.check input[type="checkbox"] { margin: 0px 0px 0px; line-height: normal; box-sizing: border-box; padding: 0; padding: 6px 12px !important; 
    line-height: 28px; 
    height: 28px; 
    display: inline-block; display: block; width: 100%; 
    padding: 6px 12px; font-size: 14px; 
    line-height: 1.42857; color: #555; 
    background-color: #FFF; background-image: none; 
    border: 1px solid #CCC; border-radius: 4px; 
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset; 
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s; 
}

div.cntAdmUprawnienia td.check { vertical-align: middle; text-align: center; }
td.check input[type="checkbox"], 
div.check input[type="checkbox"] { 
    margin: 0px; 
    height: 16px; 
    width: 16px; 
} 

/* tabelki znowu */

tr.iit input[type="text"], tr.eit input[type="text"], .tbFilterFields input[type=text] { font-size: 12px; width: 100%; padding: 6px 12px !important; line-height: 28px; height: 28px; display: inline-block; color: #555; background-color: #FFF; background-image: none; border-radius: 4px; transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s; border-color: #ccc; }
tr.iit input[type="text"]:hover, tr.eit input[type="text"]:hover, .tbFilterFields input[type=text]:hover { border-color: #ccc; } 
tr.iit input[type="text"]:focus, tr.eit input[type="text"]:focus, .tbFilterFields input[type=text]:focus { border-color: #66AFE9 !important; outline: 0px none !important; box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(102, 175, 233, 0.6) !important; }

tr.sit td, tr.eit td { background-color: rgba(35, 82, 124, 0.06); }

table.ListView1 table input[type="submit"], tr.it input[type="submit"], tr.sit input[type="submit"], tr.eit input[type="submit"], tr.iit input[type="submit"] { text-transform: none; padding: 5px 10px; font-size: 12px !important; line-height: 1.5; border-radius: 3px; color: #333; background-color: #FFF; display: inline-block; margin-bottom: 0px; font-weight: normal; text-align: center; white-space: nowrap; vertical-align: middle; border: 1px solid transparent; border-color: #CCC; }
table.ListView1 table input[type="submit"]:hover, tr.it input[type="submit"]:hover, tr.sit input[type="submit"]:hover, tr.eit input[type="submit"]:hover, tr.iit input[type="submit"]:hover { color: #333; background-color: #E6E6E6; border-color: #ADADAD; } 
 
tr.iit input[type="submit"] { color: #FFF !important; background-color: #5CB85C !important; border-color: #4CAE4C !important; }
tr.iit input[type="submit"]:hover { color: #FFF !important; background-color: #449D44 !important; border-color: #398439 !important; } 

.table select, table select { height: 28px !important; line-height: 28px !important; xpadding: 6px 12px !important; display: inline-block; width: 100%; font-size: 14px; color: #555; background-color: #fff; background-image: none; border: solid 1px #ccc; border-radius: 4px; box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset; transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s; padding: 3px 6px; /* new */ }
div.pgUstawienia div.content { width: 870px; }
div.pgUstawienia table.GroupBox1 td.tl,
div.pgUstawienia table.GroupBox1 td.th,
div.pgUstawienia table.GroupBox1 td.tr { font-size: 1px; }
div.pgUstawienia table.GroupBox1 td.th { height: 10px; max-height: 10px; min-height: 10px; }
div.pgUstawienia table.GroupBox1 td.th { line-height: 1px; }
div.pgUstawienia table.GroupBox1 td.th div { }


#pgAdministracja2 .pageContent { padding: 0 !important; }

div.cntAdmUprawnienia div.title { background-color: #23527C; width: 100%; padding: 6px; box-shadow: 1px 2px 3px #ccc; }
div.cntAdmUprawnienia div.title span { xcolor: #f0f0f0 !important; xfont-size: 14px; color: #fff !important; padding: 4px; }
#pgAdministracja2 .table { margin: 16px; }

/* paginacja */

.pager span a, .pager span span { position: relative; float: left; padding: 6px 12px !important; margin-left: -1px; line-height: 1.42857; color: #337AB7; text-decoration: none; background-color: #FFF; border: 1px solid #DDD; background-image: none; min-width: auto; height: auto; vertical-align: middle; border-radius: 0px; text-transform: none; font-size: 13px; font-weight: normal; }
.pager span span {  z-index: 3; color: #FFF !important; cursor: default; background-color: #337AB7; border-color: #337AB7; }
.pager span a:hover { background: none; z-index: 2; color: #337AB7; background-color: #EEE; border-color: #DDD; background-image: none !important; }
.pager span a:first-child, .pager span span:first-child { margin-left: 0px; border-top-left-radius: 4px; border-bottom-left-radius: 4px; }
.pager span a:last-child, .pager span span:last-child { margin-right: 0px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; }
tr.pager td, td.pager span { white-space: normal; }


table.ListView1 tr.pager td.right span { color: #333 !important; text-transform: none; font-size: 12px; margin-right: 0px; }
.pager .count span { float: none; background: none !important; color: #337AB7 !important; padding-left: 8px !important; padding-right: 0px !important; }
.pager a[disabled] { color: #C0C0C0 !important; }

div.cntSpreadsheetsTasks > div .title { margin-bottom: 14px !important; }



div.cntUprawnieniaSzkol .left table { width: 420px !important;  }
div.cntUprawnieniaSzkol table, div.pgMapowanie table { margin-top: 8px; }
div.cntUprawnieniaSzkol .middle { width: auto; }

div.pgMapowanie .right table { width: auto; }
div.pgMapowanie .right table td.name { min-width: 200px; }

div.pgMapowanie .cntMapowanie { }


div .title { margin-bottom: 14px !important; }

.pager select { display: inline-block !important; width: auto !important; height: 28px !important; line-height: 28px !important; font-size: 12px !important; font-weight: normal; }

/* test */

x.filters { background-color: #F2F5F7; }


/* KOLORYYYYYYYYYYYYYYYYYYYYYYYYYYYYY */ 
/*
    replace
    #B40234 - czerwony dbw
    #337AB7 - niebieski uniwersalny

*/

table.tbUprawnienia table tr.header th{
    background-color: #23527C;
}

, .pager span span
{
    background-color: #337AB7 !important;
}

.tabSelected div.tabCaption {
    border-bottom: 2px solid #337AB7 !important;
}

table.tbUprawnienia table tr.header > th {    
    border-right: 1px solid #23527C !important;
}

.pager span span{
    border-color: #337AB7 !important;
}

.pager span a{
    color: #337AB7 !important;
}

a
, .checker
, .checker:hover {
    color: #337AB7;
}


div#pgRaportyForm{
    box-shadow: 1px 2px 3px #ccc;
}

/* KOLORYYYYYYYYYYYYYYYYYYYYYYYYYYYY */


/*
.control input{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    
    color: #333;
    background-color: #FFF;
    border-color: #CCC;

    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.control input:hover, .control input:focus{
    color: #333;
    background-color: #E6E6E6;
    border-color: #ADADAD;
}
*/

input.dateedit { width: 100px !important; /* 90 */ }

/* admUprawnienia pola */

.cntAdmPola { }
.cntAdmPola .row { margin: 0; }
.cntAdmPola .row div { padding: 1px; }
.cntAdmPola .row .description { display: inline-block; width: 240px; }
.cntAdmPola .row .check { display: inline-block; }

/* page title na adminsitracji szkoleniami */
div#pgAdministracja2 div.pagetitle { padding-left: 16px; }

/* text danger zeby mial wyzszy importance na buttony */

.text-danger { color: #A94442 !important; } 
.text-success { color: /* #3C763D */ #5CB85C !important; }

/* popup */

.popup div#footer { background-color: #fff; }
.popup div#footer input { margin: 5px !important; margin-bottom: 8px !important; }
.popup div#content { background-color: #fff; margin-top: 0px; }

/* .cntBadania */

.cntBadania .panel-edit { margin-bottom: 0px; }


.ui-widget-content a { color: #337AB7; }
.ui-widget-content th a { color: #337AB7 !important; }

.cntCertyfikatHeader { display: none; }

/*table > .pager span.count { float: right; }*/

.pager1 span.count { float: right;}

.pgAkceptacje { min-height: 400px; background-color: #fff; padding: 16px; box-shadow: 1px 2px 3px #CCC; }
.cntAkceptacje .table { xmax-width: 1200px; }

/* cntPracownicy */

.pgPracownicy { background-color: #fff; xpadding-bottom: 32px; }
.pgPracownicy table.table1337 { xdisplay: inline-block; margin: 8px; margin-top: 4px; }
.pgPracownicy table.table1337 tr > td { xborder-top: none !important; xdisplay: inline-block !important; }
.pgPracownicy div.tbPracownicy2_topmenu .mnContent { margin-right: 0px; }

.tbPracownicy2_topmenu { display: inline-block; margin-bottom: 0px; width: 100% !important; }
.tbPracownicy2_topmenu .mnContent { xfloat: right; }
table.tbPracownicy2 td.col1, table.tbPracownicy2 th.col1 { width: auto !important; max-width: 100% !important; }
table.cntPracownicy2 table.tbPracownicy2 th.control, table.cntPracownicy2 table.tbPracownicy2 td.control { width: auto !important; max-width: 100% !important; }

.pgPracownicy div.paFilter { margin-top: 16px; }
.pgPracownicy div.paFilter span.label { color: #333; }

.pgPracownicy .edit  td { vertical-align: top !important; }
table.cntPracownicy2 table.tbPracownicy2 table.edit input, table.cntPracownicy2 table.tbPracownicy2 table.edit select { margin-bottom: 4px !important; }

table.cntPracownicy2 table.tbPracownicy2 table.edit td.coled1 span.label { width: 130px !important; }
table.cntPracownicy2 table.tbPracownicy2 table.edit td.coled2 span.label { width: 210px !important; }

.pgPracownicy tr.sit td, .pgPracownicy tr.eit td, .pgPracownicy tr.iit td { background-color: #fff; }

table.cntPracownicy2 tr.eit td, table.cntPracownicy2 tr.iit td  { background-color: #E6EBF0 !important; }
table.cntPracownicy2 table.tbPracownicy2 tr.sit td { background-color: rgba(35, 82, 124, 0.06) !important; }

table.tbPracownicy2 td { font-size: 14px; }

.pager::before { content: none; }


/* log */

.cntLog { padding: 16px; }
.cntLog .tbLog { width: 100% !important; }
.cntLog .tbLog .col5,
.cntLog .tbLog .col6 { width: 40%; padding: 0px; font-size: 0px; }
.cntLog table.tbLog th { height: 16px; vertical-align: middle; padding: 2px 4px 2px 4px; background-color: #eee; }
.cntLog table.tbLog td { padding: 2px 4px 2px 4px; line-height: normal; font-size: 12px;}
.cntLog table.tbLog .col5 textarea,
.cntLog table.tbLog .col6 textarea { width: 100% !important; font-size: 12px; margin: 0px !important; }

.tabsContent { border: none; box-shadow: none; }


/* ustawienia */

#Informacje th.control, #Informacje td.control { padding-left: 16px; }
#Informacje th.control, #Informacje td.control input { margin-bottom: 4px; }

.bottom_buttons { text-align: left; }
.bottom_buttons input { margin-top: 4px !important; }



.cntSzkoleniaBHP .pageContent { padding-right: 0px !important; }


tr.empty td { border: none !important; }

/* nowe jquery ui */

div.ui-dialog { z-index: 40000; xtop: 200px; xleft: 50%; xtransform: translateX(-50%); }
div.ui-widget-overlay { z-index: 39000; height: 1200px; }
x.ui-dialog .ui-dialog-titlebar-close  { background-image: url("../../styles/ui-lightness/images/ui-icons_222222_256x240.png") !important; background-position: -96px -128px !important; }
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-size: 12px !important; }}
/*.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {  background-image: url("../../styles/ui-lightness/images/ui-icons_222222_256x240.png") !important; }*/


.pagination-ys {
    /*display: inline-block;*/
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

.pagination-ys table > tbody > tr > td {
    display: inline;
}

.pagination-ys table > tbody > tr > td > a,
.pagination-ys table > tbody > tr > td > span {
    position: relative;
    float: left;
    padding: 8px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    xcolor: #dd4814;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    margin-left: -1px;
}

.pagination-ys table > tbody > tr > td > span {
    position: relative;
    float: left;
    padding: 8px 12px;
    line-height: 1.42857143;
    text-decoration: none;    
    margin-left: -1px;
    z-index: 2;
    color: #fff;
    background-color: #337AB7;
    border-color: #dddddd;
    cursor: default;
}

.pagination-ys table > tbody > tr > td:first-child > a,
.pagination-ys table > tbody > tr > td:first-child > span {
    margin-left: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.pagination-ys table > tbody > tr > td:last-child > a,
.pagination-ys table > tbody > tr > td:last-child > span {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.pagination-ys table > tbody > tr > td > a:hover,
.pagination-ys table > tbody > tr > td > span:hover{
    background-color: #eee;
    xborder-color: #dddddd;
}

.pagination-ys table > tbody > tr > td > a:focus,
.pagination-ys table > tbody > tr > td > span:focus {
    xcolor: #97310e;
        xbackground-color: #337AB7;
    border-color: #dddddd;
}


.cntAkceptacjeSzk .badge { margin-left: 5px; margin-bottom: 5px;}
.cntAkceptacjeSzk .tabSelected .badge { background-color: #777 !important; }
.cntAkceptacjeSzk div.tabCaption .badge { background-color: #ccc; }


.error_form div#content { background-image: none !important; background-color:#F2F5F7 !important; margin-top: 0px; }
.error_form { font-family: sans-serif !important; }

table.tbUprawnienia table tr td.data.bezterm { background-color: /* #6DB421 */ #8FDB3C !important; }
table.tbUprawnienia table tr td.data.bezterm a { font-size: /*11px*/ 11px !important; }
table.tbUprawnienia table tr td.ocena { text-align: center; }
div#content div.center{ box-shadow: none; }

.upr-wrapper .edt { margin: 6px; }

table.tbUprawnienia table tr td.bezterm { font-size: 12px; }

.form-inline label { margin-right: 8px; }
h3 i.glyphicon { margin-right: 8px; }

table.tbUprawnienia table tr td.data.aoi { background-color: #00aaff !important; }
table.tbUprawnienia table tr td.data.odrz { background-color: #ff8000 !important; }

#user { position: absolute; top: 50px; right: -4px; min-width: 300px;}

.cntAnkietaK { }
.cntAnkietaK input[type=radio] { margin: 4px; }
    
/* buttony */

.btn { height: auto !important; width: auto !important; border-radius: 4px !important; border: 1px solid transparent !important; background: none !important; vertical-align: middle !important; padding: 6px 12px !important; box-shadow: none !important; margin: auto !important; }

.btn-sm, .btn-group-sm > .btn { padding: 5px 10px !important; border-radius: 3px !important; }

.btn-default { background-color: #fff !important; border-color: #ccc !important; color: #333 !important; }
.btn-default:hover { color: #333 !important; background-color: #E6E6E6 !important; border-color: #ADADAD !important; }

.btn-success { color: #FFF !important; background-color: #5CB85C !important; border-color: #4CAE4C !important; }
.btn-success:focus, .btn-success.focus { color: #FFF !important; background-color: #449D44 !important; border-color: #255625 !important; }
.btn-success:hover { color: #FFF !important; background-color: #449D44 !important; border-color: #398439 !important; }

.btn-primary { color: #FFF !important; background-color: #337AB7 !important; border-color: #2E6DA4 !important; }
.btn-primary:hover { color: #FFF !important; background-color: #286090 !important; border-color: #204D74 !important; }


.btn-danger { color: #FFF !important; background-color: #D9534F !important; border-color: #D43F3A !important; }
.btn-danger:hover { color: #FFF !important; background-color: #C9302C !important; border-color: #AC2925 !important; }

/* default buttony */

input.button, input.button75, input.button100, input.button125, input.button150, input.button200, input.button250, input.ibutton, input[type=submit]{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -moz-user-select: none;
    background-image: none !important;
    background: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #333;
    background-color: #FFF;
    border-color: #CCC;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    height: auto;
    box-shadow:none;
}

input.button:hover, input.button75:hover, input.button100:hover, input.button125:hover, input.button150:hover, input.button200:hover, input.button250:hover, input.ibutton:hover, input[type=submit]:hover {
    color: #333;
    background-color: #E6E6E6;
    border-color: #ADADAD;
}

input[disabled].button_tech:hover { background-image: none !important; background-color: white !important; border-color: #CCC; }


.button_postback { display: none !important;}

.pgPracownicy4 { padding-bottom: 32px; }

div.zoomMatryca div.scroller { overflow: scroll !important; border: none !important; }

div.cntFilter div.cntField input.textbox { width: 306px; }
div.cntFilter div.cntField textarea.textbox { width: 306px; }
div.cntFilter table.tbFilter { padding: 0px !important; }
div.cntFilter table.tbFilter td.bottom_buttons { padding: 0px !important; }
div.cntFilter table.tbFilter td.bottom_buttons input { padding-top: 5px; }

.cntEwaluacja table .dropdown i { margin-right: 6px;  }

.rep-buttons { margin-top: -6px; }

.rep-buttons a{
    font-size: 22px;
    font-weight: normal !important;
    margin-right: 8px;
}

.rep-buttons i {
    margin-left: 0px;
}


.report_page .report-header{
}


div.cntCertyfikat { overflow: auto; }


.ui-state-default .ui-icon {
    background-image: url("../Images/ui-icons_ffffff_256x240.png") !important;
}


.ui-state-hover .ui-icon{
    background-image: url("../Images/ui-icons_ef8c08_256x240.png") !important;
} 

.ui-dialog .ui-dialog-titlebar-close {
    background: none;
    border: none;
}

#pgAdministracja2 div.title{
    margin-bottom: 0px !important;
}

.navbar-collapse ul.nav{
    margin-right: 8px;
}

.navbar-collapse.in ul.nav.pull-right{
    float:none !important;
}

/* 

 KOLORY
 
 
 czerwony #B40234
 czarny #333


*/
/*----- MasterPage ----*/
xxxdiv.content_center { 
    display: block;
    width: auto; 
    margin-left: auto; 
    margin-right: auto; 
    box-shadow: none; 
}

div.content_center { 
    width: auto; 
    text-align: center;
    box-shadow: none !important;
    font-size: 0;
}

div.content_center div.content_center2 { 
    display: inline-block; 
    text-align: left;
    font-size: 14px;
}

div.updProgress1 { height: 30px; line-height: 30px; }
div.updProgress1 span { font-size: 12px; font-weight: normal; vertical-align: middle; }



div.zastinfo { border: none; text-align: center; position: relative; xheight: 36px; color: #fff;  text-transform: uppercase;}
div.zastinfo span.zastepowany { font-weight: bold !important; } 
div.zastinfo .right { position: absolute; right: 8px; display: inline-block;}
div.zastinfo .right a { xpadding: 4px;  font-size: 12px !important; text-transform: uppercase; top: 0; font-weight: bold; box-shadow: none; }
div.zastinfo .right a:hover { xcolor: #B40234; color: red; text-decoration: underline; }

.pagetitle { box-shadow: none !important; }
#content > div { xbox-shadow: 1px 2px 3px #ccc; }

/*----- Oddelegowania -----*/
div.MatrycaSzkolen div.cntPrzypisaniaEdit table.table0 { width: auto; xborder: solid 1px red !important; }
div.MatrycaSzkolen div.cntPrzypisaniaEdit table tr.params td div.ramka { width: 466px; }
div.MatrycaSzkolen div.cntPrzypisaniaEdit table tr.params td div.ramka { width: 466px; }
xxdiv.MatrycaSzkolen div.cntPrzypisaniaEdit div.tvStructure > a { xdisplay: none !important;  xheight: 0px !important; }


/*

div.cntPrzypisaniaEdit table tr.params td div.ramka { border: solid 10px red !important; }
.cntPrzypisaniaParametry span {
    display: block !important;
    background-color: red;
}

div.paBackzzz { border: solid 3px red !important; background-color: blue; display: block; height: 50px; }

.cntPrzypisaniaParametry { border: solid 3px red; background-color: blue; }
.cntPrzypisaniaParametry div.paBack { vertical-align: middle; border: solid 1px red; }
.cntPrzypisaniaParametry div.paBack span { vertical-align: middle; }
.cntPrzypisaniaParametry div.paBack input { vertical-align: middle; margin: 0px !important; }

    */

/*----- Zastępstwa -----*/
div.MatrycaSzkolen div.pgZastepstwa td.LeftMenu { height: 600px; }

/*----- xListView1 -----*/
xxtable.xListView1 table th { xbackground-color: #F0F0F0; line-height: 18px; height: 18px; padding: 4px 8px 4px 8px; border-top: none; border-bottom: solid 1px black; }

div.ui-dialog {
    z-index: 500 !important;
}

ui-widget-overlay {
    z-index: 400 !important;
}


/* ------------ SCROLLOWANIE ------------ */

.cntUprawnieniaScroll .tbUprawnienia .data-scroller {

    max-width: 980px !important;
    overflow-x: hidden !important;
    white-space: nowrap !important;
    
}

.cntUprawnieniaScroll .tbUprawnienia .data-scroller-main{
    overflow-x: scroll !important;
    max-width: 980px !important;
    white-space: nowrap;
}

.cntUprawnieniaScroll .tbUprawnienia .tdData .data-scroller div, .cntUprawnieniaScroll .tbUprawnienia .tdData .data-scroller-main div{
    display: inline-block;
    xwidth: 60px !important;
    xmax-width: 60px !important;
    xborder: solid 2px red;

    xborder: solid 1px red;
}

.cntUprawnieniaScroll .tbUprawnienia .tdData{
    padding: 0 !important;
    border: none !important;
    padding-right: 0px !important;
}

/* po scrollowaniu header */

.cntUprawnieniaScroll .tbUprawnienia  div.data1{
    overflow: hidden;
    text-overflow: ellipsis !important;
    white-space: normal;
    vertical-align: top;


    background: /* rgba(230, 232, 240, 0.22) */ /* rgba(183, 194, 240, 0.2) */ #F2F5F7 !important;
    padding: 0px;
    border-right: 1px solid #E0E0E0;
    border-bottom: none/* 1px solid #e0e0e0 */ !important;
    border-color: #e9e9e9 !important;
    color: #333 !important; 
    height: 95px;

    font-size: 10px;

    /*display: block;
    float: left;*/
}

.cntUprawnieniaScroll .tbUprawnienia  div.data1 > div{
    padding: 4px;
    display: inline-block;
}

.cntUprawnieniaScroll .tbUprawnienia  div.data1, .cntUprawnieniaScroll .tbUprawnienia .data, .cntUprawnieniaScroll .tbUprawnienia div.suma{
    width: 80px;
    xtext-align: center;
    xbackground-color: green;
}

.cntUprawnieniaScroll .tbUprawnienia  div.suma {
   text-align: center;
    background-color: /* rgba(230, 232, 240, 0.22) */ /* rgba(183, 194, 240, 0.2) */ #F2F5F7 !important;
    border-top: solid 1px #eee;
    border-right: solid 1px #eee;
    xborder-bottom: solid 1px #eee;
    height: 25px;
    /*border-right: solid 1px #eee;
    border-top: solid 1px #eee;
    width: 80px;
    height: 25px;
    xbackground: red !important;
    display: inline-block !important;
    vertical-align: top;
    text-align: center;*/
}


.cntUprawnieniaScroll .tbUprawnienia th.tdData{
    border-bottom: none;
    border-right: none !important;
    text-align: left !important;
}

.cntUprawnieniaScroll .tbUprawnienia  div.data1 > div a{
    xmargin: 6px !important;
    xword-break: break-all;
}

.cntUprawnieniaScroll .tbUprawnienia div.uprtitle{
    width: 80px;
    text-align: center;
}

.cntUprawnieniaScroll .tbUprawnienia div.data1 a {
    font-size: 11px !important;
    font-weight: bold;
}

.cntUprawnieniaScroll table.tbUprawnienia .brak a {
    display: none;
    width: 50px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 9px !important;
    font-weight: bold;
    text-transform: uppercase;
    xcolor: #267EDF !important;
    xcolor: #0066CC !important;
    color: #375C8E !important;
    background-color: Transparent;
    xpadding: 1px 3px 1px 3px;
    xpadding: 2px 6px 3px 6px;
    padding: 1px 6px 2px 6px;
    border: solid 1px #DDDDDD;
    background-color: #F9F9F9 !important;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
    xbehavior: url(css/border-radius.htc);
    x-webkit-box-shadow: 0 1px 3px 0px #DDDDDD;
}

.cntUprawnieniaScroll table.tbUprawnienia .brak { text-align: center; }
.cntUprawnieniaScroll table.tbUprawnienia .brak a{  color: #B40234 !important;  background: none; margin: 0 auto; line-height: 25px; }
.cntUprawnieniaScroll table.tbUprawnienia .brak a:hover{  color: #B40234 !important; }

.cntUprawnieniaScroll table.tbUprawnienia .brak:hover a{
    display: block;
}

.cntUprawnieniaScroll table.tbUprawnienia .brak a{  border: none;  font-family: sans-serif !important;  font-size: 10px !important;  background: #fff !important;  padding: 0px; }

.cntUprawnieniaScroll table.tbUprawnienia.ListView1 table td {
    padding: 0px !important;
}

.cntUprawnieniaScroll table.tbUprawnienia div.data{
    border-right: solid 1px #eee;
    border-top: solid 1px #eee;
    width: 80px;
    height: 25px;
    xbackground: red !important;
    display: inline-block !important;
    vertical-align: top;
    text-align: center;
    overflow: hidden;
}

.cntUprawnieniaScroll table.tbUprawnienia div.data a{
    line-height: 25px;
}

.cntUprawnieniaScroll table.tbUprawnienia .tdTotal {
    vertical-align: top;
    border: none;
    background-color: /* rgba(230, 232, 240, 0.22) */ /* rgba(183, 194, 240, 0.2) */ #F2F5F7 !important;
}

.cntUprawnieniaScroll table.tbUprawnienia .tdTotal div{
    width: 30px;
    height: 25px;
    display: inline-block !important;
    vertical-align: top;
    margin-right: -1px;
}

.cntUprawnieniaScroll table.tbUprawnienia .bezterm { background-color: /* #6DB421 */ #8FDB3C !important;  }
.cntUprawnieniaScroll table.tbUprawnienia tr.it .bezterm a { color: #333 !important; font-size: 9px; text-transform: uppercase; line-height: 25px; }

.cntUprawnieniaScroll table.tbUprawnienia .data.aoi { background-color: #00aaff !important; }
.cntUprawnieniaScroll table.tbUprawnienia .data.odrz { background-color: #ff8000 !important; }

.cntUprawnieniaScroll table.tbUprawnienia .monit{  background-color: #FF0 /* rgb(251, 238, 0) */ !important; }
.cntUprawnieniaScroll table.tbUprawnienia .ok{  background-color: /* #50C14E */ /* #46AA42 */ #8FDB3C /* rgb(181, 230, 29) */ !important; }
.cntUprawnieniaScroll table.tbUprawnienia .po{  background-color: /* #F65177 */ /* rgb(255, 21, 68) */ /* #f00 */ #CE3636 !important; }

.cntUprawnieniaScroll table.tbUprawnienia tr.it .po a { color: #fff !important; }

.cntUprawnieniaScroll table.tbUprawnienia div.ocena{
    xposition: relative;
    xright: 24px;
}

.two-column table.tbUprawnienia .ocena{
    display: inline-block;
    width: 14px !important;
    
    text-align: center;
    vertical-align: top;
    height: 25px;

    overflow: hidden;
   
}


.two-column table.tbUprawnienia tr.it .ocena{
    border-top: solid 1px #eee;
    border-right: solid 1px #eee;
    width: 15px;

}

.two-column table.tbUprawnienia div.data{
    width: 86px !important;
}

.two-column .tbUprawnienia div.suma {
    width: 100px !important;
}

.two-column table.tbUprawnienia .brak a {  width: auto;}

.two-column table.tbUprawnienia .tdTotal div {
    width: 30px !important;
    margin-right: -1px;
}

.two-column table.tbUprawnienia .data1{
    width: 100px;
}

.przeciwwskazanie { background-color: #f00; }