/*
#mainformcontent div#header { background-image: none; background-color: #EAE8E9; }

div#mainformcontent div#header div.topMenuContainer { background: url('~/../../images/portal/header_SPX.png') no-repeat left top; }


div.topMenu div.mmStrip td span.mmItem, 
div.topMenu table.mmStrip td table.mmItem { background-image: none; }


.mmItem .mmCaption { background-image: none !important; }

.mmItem #mmCaption2 { background-image: none; }
*/





/*----- MAINMENU -----*/
/*
div.topMenuContainer - center 960
    div.topMenu - align right menu box
        a.skiplink
        table.mmStrip
            td
                table.mmItem
                    td
                        a.mmItem
                            div.mmCaption
                                div.mmText
                                    span - title
                                    div - opis
            td 3px
            td
            td 3px
            ...    

*/

/*zzzzzzzzzzzzzzzzzz
div#mainformcontent div#header { background: url('../../styles/zelmer/header2.png') repeat-x top; }
div#mainformcontent div#header div.topLine { background: url('../../styles/zelmer/toolbar.jpg') no-repeat -5px top; height: 33px; }

div#mainformcontent div#header div.topMenuContainer {
    background: url('~/../../images/SPX/toolbar2.jpg') no-repeat -5px -33px;
    height: 107px;
}

div#mainformcontent div#header div.topMenuContainerP {
    background: url('~/../../images/SPX/toolbar3.png') no-repeat left top;
    height: 107px;
}

xxdiv#mainformcontent div#content { background: url('../../styles/zelmer/podcien_up2.png') repeat-x top; }
div#mainformcontent div#content { background-image: none; background-color: #FAFAFA; }
div#mainformcontent div#header_left { position: relative; } 

xxxdiv#mainformcontent div#header_left div { position: absolute; margin-top: 33px; width: 50%; height: 107px; xborder: solid 1px red; background-color: #BBBBBB; z-index: 0; } 
xxxdiv#mainformcontent div.center { z-index: 10; position: relative; } 

*/






















/*
div#mainformcontent div#header {
    background: url('~/../../images/master/header2.png') repeat-x top;
}

div#mainformcontent div#header div.topLine {
    background: url('~/../../images/toolbar.jpg') no-repeat -5px top;
    height: 33px;
}

div#mainformcontent div#header div.topMenuContainer {
    background: url('~/../../images/toolbar2.jpg') no-repeat -5px -33px;
    height: 107px;
}

div#mainformcontent div#header div.topMenuContainerP {
    background: url('~/../../images/toolbar3.png') no-repeat left top;
    height: 107px;
}

div#mainformcontent div#header div.topMenu {
    xborder-right: solid 1px #6FA9EA; 
    height: 91px; 
    float: right;
    margin-top: 8px;
}

div#mainformcontent div#header div.topMenu table.mmStrip {
    margin: 0px !important;
    xborder: solid 1px red;
    top: 0px;
    position: relative;
    xtop: -8px;
}

div#mainformcontent div#header div.topMenu table td {
    
    
    
    
    padding: 0px !important; 
    xborder: solid 1px red;



}

div#mainformcontent div#header div.mmCaption {
    background-image: none;
    height: 91px; 
    padding: 0px; 
}

table.mmItem td { xpadding: 8px 0px 8px 0px; border: solid 1px yellow; }



.mmItem div.mmCaption { border-left: solid 1px #6FA9EA !important; border-right: none !important; }

.mmItem div.mmCaption div.mmText 
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    xfont-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-variant: small-caps;
    
    font-size: 16px;
    text-align: right;
    
    color: #FFC014;
    text-shadow: Black 5px 5px 5px;
    
    padding-top: 12px; 
    xpadding-top: 0px;
    padding-bottom: 0px;      
    height: 91px;
}

.mmItem div.mmCaption div.mmText div
{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    font-size: 11px;
    xcolor: White;
    color: #F5F7F0;
    line-height: 16px; 

    margin-top: 12px; 
    top: 0px;
}

.mmItem div.mmCaption:hover span
{
    position: relative;
    top: 1px;
    text-shadow: Black 5px 4px 3px;
}

.mmItem .mmCaption .mmText span
{
    text-shadow: none;    
}

.mmItem .mmCaption:hover .mmText span
{
    position: relative; top: -2px;
    text-shadow: none;    
}


.mmItem div#mmCaption5 { border-right: solid 1px #6FA9EA !important; }
.mmItem div.mmCaption { border-left: solid 1px #6FA9EA; }

.mmItem div#mmCaption1:hover { background:url(~/../../images/toolbar3.jpg) no-repeat -216px -42px !important; }
.mmItem div#mmCaption2:hover { background:url(~/../../images/toolbar3.jpg) no-repeat -366px -42px !important; }
.mmItem div#mmCaption3:hover { background:url(~/../../images/toolbar3.jpg) no-repeat -516px -42px !important; }
.mmItem div#mmCaption4:hover { background:url(~/../../images/toolbar3.jpg) no-repeat -666px -42px !important; }
.mmItem div#mmCaption5:hover { background:url(~/../../images/toolbar3.jpg) no-repeat -816px -42px !important; }

//.mmItem div#mmCaption1:hover { background:url(~/../../images/toolbar3.jpg) no-repeat -211px -42px !important; }
//.mmItem div#mmCaption2:hover { background:url(~/../../images/toolbar3.jpg) no-repeat -361px -42px !important; }
//.mmItem div#mmCaption3:hover { background:url(~/../../images/toolbar3.jpg) no-repeat -512px -42px !important; }
//.mmItem div#mmCaption4:hover { background:url(~/../../images/toolbar3.jpg) no-repeat -663px -42px !important; }
//.mmItem div#mmCaption5:hover { background:url(~/../../images/toolbar3.jpg) no-repeat -814px -42px !important; }

.mmSelected div#mmCaption1 { background:url(~/../../images/toolbar3.jpg) no-repeat -216px -42px; }
.mmSelected div#mmCaption2 { background:url(~/../../images/toolbar3.jpg) no-repeat -366px -42px; }
.mmSelected div#mmCaption3 { background:url(~/../../images/toolbar3.jpg) no-repeat -516px -42px; }
.mmSelected div#mmCaption4 { background:url(~/../../images/toolbar3.jpg) no-repeat -666px -42px; }
.mmSelected div#mmCaption5 { background:url(~/../../images/toolbar3.jpg) no-repeat -816px -42px; }
*/



div#header div.logo 
{ 
    float: left; 
    position: relative; 
    xbackground-color: White;
    xpadding: 5px; 
    xborder: solid 1px Gray;

    x-moz-border-radius: 5px;                        
    x-webkit-border-radius: 5px;                         
    x-khtml-border-radius: 5px;                      
    xborder-radius: 5px;                             
    xbehavior: url(css/border-radius.htc);   
    
    
    margin-left: 20px; 
    margin-top : 12px; 
    
	xopacity: 0.5;
	xfilter:alpha(opacity=50); /* For IE8 and earlier */
	
	xwidth: 155px; 
	xheight : 36px; 	
	xheight : 45px; 	
	
	text-align: left;
	z-index: 100;   /* IE8 fix znikalo */
}

div#header div.logo img
{ 
	width: 154px; 
	height : 45px; 	   
}


zzzdiv#header div.search
{ 
    xfloat: left; 
    clear: left;
    position: relative; 
    display: inline-block;

    margin-left: 30px; 
    margin-top : 4px; 
    
	text-align: left;
	z-index: 100;   /* IE8 fix znikalo */
	
	border: solid 1px red;
}

div#header div.search
{ 
    position: absolute;
    margin-top: 75px;
    margin-left: 12px;
    z-index: 101; 
}
div#header div.search div {
    position: relative;
}

xxxdiv#header div.search input.textbox { width: 250px; xheight: 24px; padding: 0px; vertical-align: middle; 
    border: none; border-color: Gray; border-width: 1px; border-left-style: solid; border-top-style: solid; border-bottom-style: solid; 
}
div#header div.search input.textbox { width: 250px; xheight: 24px; padding: 3px 4px 3px 4px; vertical-align: middle; border: solid 1px Gray; }
div#header div.search input.textbox:hover { border: solid 1px Black; }
div#header div.search input.button { 
    vertical-align: middle; 
    
    width: 70px; 
    line-height: 26px;
    height: 26px; 
    padding: 0px; 
    xborder: solid 1px #8BACDA;
    xborder: solid 1px Gray;
    border: solid 1px #1177AA;
    color: White;
    vertical-align: middle;        

    -moz-border-radius: 3px;                        
    -webkit-border-radius: 3px;                     
    -khtml-border-radius: 3px;                      
    border-radius: 3px !important;                             
    
    background: #3399FF url(../../images/magnifier.png) no-repeat center center;
    xbackground: Silver url(../../images/magnifier.png) no-repeat center center;
    xbackground: #3399FF url(../../images/loopka.png) no-repeat center center;
}
div#header div.search input.button:hover
{ 
    border: solid 1px Black;
    xbackground-color: White;
    background-color: #CCEEFF;
    color: black;
    xbackground: White url(../../images/loopka_w.png) no-repeat center center;
    xbackground-color: Lime;
}













div#mainformcontent div#helpButton span.appinfo {
    xtop: 4px; 
    xleft: 215px;
    top: 92px;
    left: 4px;
}


/*
div#mainformcontent div#content div#helpButton a { color: White; color: Silver; } 
div#mainformcontent div#header div#user span { color: Gray; color: Silver; }
div#mainformcontent div#content div#helpButton a:hover { color: #E00024; color: #8FDB3C; }
*/

div#mainformcontent div#header div.topLine div#program span { 
    font-variant: normal;
    font-weight: bold;
    font-size: 17px;
    text-shadow: Black 2px 2px 5px; 
    line-height: normal;
    display: inline-block;
    margin-top: 3px;
}

/*----- -----*/


xxdiv#header div#program2
{ 
    float: left; 
    position: relative; 

    margin-left: 130px; 
    margin-top : 4px; 
    
	text-align: left;
	z-index: 100;   /* IE8 fix znikalo */
}

xxdiv#header div#program2 span
{
     
}

/*----- -----*/
div#mainformcontent div#helpButton div.usersTree { 
    margin-top: -32px; 
    margin-left: -240px; 
}

/*----- footer -----*/
#mainformcontent div#footer { background-color: Silver; }

/*----- menu ----*/
div.mnKategorie span {
    background-image: none;
    background-color: #F5F5F5; 
    background-color: #FBFBFB; 
    background-color: White; 

    xbackground: #D9DADA url(~/../../images/spx/front2c40.png) no-repeat 0px 0px;
    background: White url(../../images/spx/front2c40b.png) no-repeat 0px 0px;
        
    color: White; 
    color: Gray;
    color: #999999;
    
    -moz-border-radius: 0px;                        
    -webkit-border-radius: 0px;                         
    -khtml-border-radius: 0px;                      
    border-radius: 3px;                       
    
    border-color: #EEEEEE;
    border-color: #DDDDDD;    
}

div.mnKategorieContent a {
    background-image: none;
    background-color: #F5F5F5; 
    background-color: #FBFBFB; 
    background-color: White; 
    
    color: White; 
    color: Gray;
    
    -moz-border-radius: 0px;                        
    -webkit-border-radius: 0px;                         
    -khtml-border-radius: 0px;                      
    border-radius: 3px;                       
    
    border-color: #EEEEEE;
    border-color: #DDDDDD;    
}

table.mnPodKategorie tr.sit a, table.mnPodKategorie tr.sit span
{
    background-color: White;
    xcolor: Red;
    color: #8FDB3C;
}

/*----- aplikacje menu -----*/

div.cntAplikacjeMenu a {
    background-image: none;
    background-color: #F5F5F5; 
    background-color: #FBFBFB; 
    background-color: White; 
    
    color: White; 
    color: Gray;
    
    -moz-border-radius: 0px;                        
    -webkit-border-radius: 0px;                         
    -khtml-border-radius: 0px;                      
    border-radius: 3px;                       
    
    border-color: #EEEEEE;
    border-color: #DDDDDD;    
}
div.cntAplikacjeMenu a:hover {
    -moz-border-radius: 0px;                        
    -webkit-border-radius: 0px;                         
    -khtml-border-radius: 0px;                      
    border-radius: 3px;                       
    
    xcolor: Red; 
    color: #8FDB3C;
}

div.cntAplikacjeMenu a img { width: 170px; height: 110px;}

div.cntAplikacjeMenu a div.img {
    padding: 0px;
    border: none;
}

div.mnKategorie div.mnKategoriaSelected span {
    color: #8FDB3C; 
}