/*----- MAINMENU -----*/
/*
div.topMenuContainer - center 960
    div.topMenu - align right menu box
        a.skiplink
        table.mmStrip
            td
                table.mmItem
                    td
                        a.mmItem
                            div.mmCaption
                                div.mmText
                                    span - title
                                    div - opis
            td 3px
            td
            td 3px
            ...    

*/
div#mainformcontent div#header {
    background: url('../../images/master/header2.png') repeat-x top;
}

div#mainformcontent div#header div.topLine {
    background: url('../../images/toolbar.jpg') no-repeat -5px top;
    height: 33px;    
}
div#mainformcontent div#header div.topLine div#program span { text-shadow: Black 5px 5px 5px; }

div#mainformcontent div#header div.topMenuContainer {
    background: url('../../images/toolbar2.jpg') no-repeat -5px -33px;
    height: 107px;
}

div#mainformcontent div#header div.topMenuContainerP {
    background: url('../../images/toolbar3.png') no-repeat left top;
    height: 107px;
}

div#mainformcontent div#header div.topMenu {
    float: right;
}

div.topMenu table.mmStrip td { width: 1px !important; } /* chrome 30 i tak zostawia 1px - tak wycinamy odstęp 3px między tabami, działa też na IE6 */

div.topMenu a { height: 1px; display: block; }   /* niektóre przegladarki wyswietlają zawsze height: 1px dla skiplink */ 
div.topMenu div.mmStrip a.mmItem,
div.topMenu table.mmStrip a.mmItem { height: auto; }

div.topMenu div.mmStrip,
div.topMenu table.mmStrip {
    position: relative;
    top: -1px;          /* skip link */
    empty-cells: hide;  /* dla ie78 - td 3px */

    border-collapse: collapse;
    border-spacing: 0px;    
    border-width: 0px;

    margin-top: 8px;    /* regulacja wysokości */
}
div.topMenu table.mmStrip {
    z-index: 100;        /* IE8 fix znika tab*/
}

div.topMenu table.mmStrip td { vertical-align: top; } 

div.topMenu div.mmStrip td span.mmItem,
div.topMenu table.mmStrip td table.mmItem {
    border-collapse: collapse;
    border-spacing: 0px;    
    border-width: 0px;
}
div.topMenu table.mmStrip table.mmItem td { } 

div.topMenu div.mmStrip a.mmItem { float: left; }

div.topMenu div.mmStrip a.mmItem,
div.topMenu table.mmStrip a.mmItem { 
    width: 149px;       /* regulacja szerokości */
}

div.topMenu div.mmStrip span.mmItem div.mmCaption,
div.topMenu table.mmStrip table.mmItem div.mmCaption { 
    position: relative;
    width: 149px;       /* regulacja szerokości */
    height: 91px;       /* regulacja wysokości */
    background-image: none !important;
    cursor: pointer;
}

div.topMenu div.mmStrip span.mmItem div.mmCaption div.mmText, 
div.topMenu table.mmStrip table.mmItem div.mmCaption div.mmText 
{
    xfont-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
    
    afont-family: Segoe UI, Arial, Verdana, sans-serif;
    afont-weight: normal;

    font-variant: small-caps;
    
    font-size: 16px;
    line-height: 16px; 
    text-align: right;
    color: #FFC014;
    text-shadow: Black 5px 5px 5px;
}
.not_ie .mmItem .mmText { xfont-size: 17px; font-size: 16px; }
.ie .mmItem .mmText { font-size: 16px; }

div.topMenu div.mmStrip span.mmItem div.mmCaption div.mmText span,
div.topMenu table.mmStrip table.mmItem div.mmCaption div.mmText span
{
    display: block;
    padding: 10px 8px 8px 8px;
    text-shadow: Black 5px 5px 5px;
}

div.topMenu div.mmStrip span.mmItem div.mmCaption:hover div.mmText span,
div.topMenu table.mmStrip table.mmItem div.mmCaption:hover div.mmText span
{
    position: relative;
    top: 1px;
    text-shadow: Black 5px 4px 3px;
}

div.topMenu div.mmStrip span.mmItem div.mmCaption div.mmText div,
div.topMenu table.mmStrip table.mmItem div.mmCaption div.mmText div
{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    font-size: 11px;
    text-align: left;
    color: #F5F7F0;
    line-height: 16px; 

    padding: 4px 6px 4px 6px;
    
    white-space: normal !important;
    text-shadow: none;
}

.mmItem div#mmCaption5 { border-right: solid 1px #6FA9EA !important; }
.mmItem div.mmCaption { border-left: solid 1px #6FA9EA !important; }

.mmItem div#mmCaption1:hover { background:url(../../images/toolbar3.jpg) no-repeat -217px -41px !important; }
.mmItem div#mmCaption2:hover { background:url(../../images/toolbar3.jpg) no-repeat -367px -41px !important; }
.mmItem div#mmCaption3:hover { background:url(../../images/toolbar3.jpg) no-repeat -517px -41px !important; }
.mmItem div#mmCaption4:hover { background:url(../../images/toolbar3.jpg) no-repeat -667px -41px !important; }
.mmItem div#mmCaption5:hover { background:url(../../images/toolbar3.jpg) no-repeat -817px -41px !important; }

.mmSelected div#mmCaption1 { background:url(../../images/toolbar3.jpg) no-repeat -217px -41px !important; }
.mmSelected div#mmCaption2 { background:url(../../images/toolbar3.jpg) no-repeat -367px -41px !important; }
.mmSelected div#mmCaption3 { background:url(../../images/toolbar3.jpg) no-repeat -517px -41px !important; }
.mmSelected div#mmCaption4 { background:url(../../images/toolbar3.jpg) no-repeat -667px -41px !important; }
.mmSelected div#mmCaption5 { background:url(../../images/toolbar3.jpg) no-repeat -817px -41px !important; }







/*
div#mainformcontent div#header {
    background: url('~/../../images/master/header2.png') repeat-x top;
}

div#mainformcontent div#header div.topLine {
    background: url('~/../../images/toolbar.jpg') no-repeat -5px top;
    height: 33px;
}

div#mainformcontent div#header div.topMenuContainer {
    background: url('~/../../images/toolbar2.jpg') no-repeat -5px -33px;
    height: 107px;
}

div#mainformcontent div#header div.topMenuContainerP {
    background: url('~/../../images/toolbar3.png') no-repeat left top;
    height: 107px;
}

div#mainformcontent div#header div.topMenu {
    xborder-right: solid 1px #6FA9EA; 
    height: 91px; 
    float: right;
    margin-top: 8px;
}

div#mainformcontent div#header div.topMenu table.mmStrip {
    margin: 0px !important;
    xborder: solid 1px red;
    top: 0px;
    position: relative;
    xtop: -8px;
}

div#mainformcontent div#header div.topMenu table td {
    
    
    
    
    padding: 0px !important; 
    xborder: solid 1px red;



}

div#mainformcontent div#header div.mmCaption {
    background-image: none;
    height: 91px; 
    padding: 0px; 
}

table.mmItem td { xpadding: 8px 0px 8px 0px; border: solid 1px yellow; }



.mmItem div.mmCaption { border-left: solid 1px #6FA9EA !important; border-right: none !important; }

.mmItem div.mmCaption div.mmText 
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    xfont-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-variant: small-caps;
    
    font-size: 16px;
    text-align: right;
    
    color: #FFC014;
    text-shadow: Black 5px 5px 5px;
    
    padding-top: 12px; 
    xpadding-top: 0px;
    padding-bottom: 0px;      
    height: 91px;
}

.mmItem div.mmCaption div.mmText div
{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    font-size: 11px;
    xcolor: White;
    color: #F5F7F0;
    line-height: 16px; 

    margin-top: 12px; 
    top: 0px;
}

.mmItem div.mmCaption:hover span
{
    position: relative;
    top: 1px;
    text-shadow: Black 5px 4px 3px;
}

.mmItem .mmCaption .mmText span
{
    text-shadow: none;    
}

.mmItem .mmCaption:hover .mmText span
{
    position: relative; top: -2px;
    text-shadow: none;    
}


.mmItem div#mmCaption5 { border-right: solid 1px #6FA9EA !important; }
.mmItem div.mmCaption { border-left: solid 1px #6FA9EA; }

.mmItem div#mmCaption1:hover { background:url(~/../../images/toolbar3.jpg) no-repeat -216px -42px !important; }
.mmItem div#mmCaption2:hover { background:url(~/../../images/toolbar3.jpg) no-repeat -366px -42px !important; }
.mmItem div#mmCaption3:hover { background:url(~/../../images/toolbar3.jpg) no-repeat -516px -42px !important; }
.mmItem div#mmCaption4:hover { background:url(~/../../images/toolbar3.jpg) no-repeat -666px -42px !important; }
.mmItem div#mmCaption5:hover { background:url(~/../../images/toolbar3.jpg) no-repeat -816px -42px !important; }

//.mmItem div#mmCaption1:hover { background:url(~/../../images/toolbar3.jpg) no-repeat -211px -42px !important; }
//.mmItem div#mmCaption2:hover { background:url(~/../../images/toolbar3.jpg) no-repeat -361px -42px !important; }
//.mmItem div#mmCaption3:hover { background:url(~/../../images/toolbar3.jpg) no-repeat -512px -42px !important; }
//.mmItem div#mmCaption4:hover { background:url(~/../../images/toolbar3.jpg) no-repeat -663px -42px !important; }
//.mmItem div#mmCaption5:hover { background:url(~/../../images/toolbar3.jpg) no-repeat -814px -42px !important; }

.mmSelected div#mmCaption1 { background:url(~/../../images/toolbar3.jpg) no-repeat -216px -42px; }
.mmSelected div#mmCaption2 { background:url(~/../../images/toolbar3.jpg) no-repeat -366px -42px; }
.mmSelected div#mmCaption3 { background:url(~/../../images/toolbar3.jpg) no-repeat -516px -42px; }
.mmSelected div#mmCaption4 { background:url(~/../../images/toolbar3.jpg) no-repeat -666px -42px; }
.mmSelected div#mmCaption5 { background:url(~/../../images/toolbar3.jpg) no-repeat -816px -42px; }
*/



div#header div.logo 
{ 
    float: left; 
    position: relative; 
    background-color: White;
    padding: 5px; 
    border: solid 1px Gray;

    -moz-border-radius: 5px;                        
    -webkit-border-radius: 5px;                         
    -khtml-border-radius: 5px;                      
    border-radius: 5px;                             
    xbehavior: url(css/border-radius.htc);   
    margin-left: 22px; 
    margin-top : 8px; 
    
	opacity: 0.5;
	filter:alpha(opacity=50); /* For IE8 and earlier */
	
	width: 155px; 
	xheight : 36px; 	
	height : 45px; 	
	text-align: center;
	z-index: 100;   /* IE8 fix znikalo */
}

div#header div.logo img
{ 
	xwidth: 155px; 
	xheight : 36px; 	
	width: 130px; 
	height : 45px; 	   
}


div#mainformcontent div#helpButton span.appinfo {
    xtop: 4px; 
    xleft: 215px;
    top: 92px;
    left: 4px;
}


/*----- -----*/
div#mainformcontent div#helpButton div.usersTree { 
    margin-top: -32px; 
    margin-left: -240px; 
}









/*----- DEMO -----
div.logo_demo { margin-left: -240px !important; width: 300px !important; height: 60px !important; background-color: Gray !important; }
div.logo_demo img { width: 240px !important; height: auto !important; }

img.replogo_demo { width: 240px !important; height: auto !important; background-color: Silver; }


div.topMenu div.mmStrip span.mmItem div.mmCaption div.mmText, 
div.topMenu table.mmStrip table.mmItem div.mmCaption div.mmText 
{
    xcolor: #46AA42 !important;
    xcolor: #FFC014 !important;
}
*/


